[2021-06-10 11:34] nxnslite opened #532 "PM 8-1 Crystalline Field Door"
**Date & Time**:
21-06-10

**Client Version (use `/ver` in game):**
Locked

**Character Name:**
nxncure
nxnmage
altanaspouce
nxnpow
Khrisitna

**Discord Name (if different from in game):**
nxn_slite

**Nation:**
Windy

**Job(level)/Sub Job(level):**
nxncure          WHM
nxnmage        BLU
altanaspouce  BLU
nxnpow           BLU
Khrisitna          PLD

**NPC or Monster or item Name:**
Key Item: Ligh

[2021-06-10 17:10] EpicTaru commented on #532
@nxnslite What issue are you having?  Please explain further.

[2021-06-10 19:41] EpicTaru commented on #532
Are the ones that are missing the KI able to redo the fight on the airship against Tenzen?

[2021-06-10 19:44] EpicTaru commented on #532
See if they can redo the Tenzen fight solo this time, please.  Respond here please if they are unable to.

[2021-06-10 23:13] EpicTaru commented on #532
@nxnslite please let me know here on this ticket or in game via /tell when the affected charas are online so I can check variables

[2021-06-11 18:31] nxnslite commented on #532
for others that might have the same probleme. I did 2 relog on the server. 1st one.. nothing changed and I was still stuck... logout and went to sleep... came back several hours later... lets say about 16 Hours. Reloged and then BOOM same CS restarted for all my characters. But I did get the Key Item: Light of Al'Taieu. I did follow the path of the quest and got the next CS at H-11.   Thank you.

[2021-06-11 18:31] #532 closed

[2021-06-12 21:42] kpinoy commented on #471
Client Version 30191204_1

Character Names:
Fix, Six, Wix, Tix, Zix

Discord Name (if different from in game):
Bluescalesorc

Nation:
Sandy

Job(level)/Sub Job(level):
85WAR

NPC or Monster or item Name:
Baudin

Zone name:
Upper Jeuno

Coordinates (use !where):

Item tool link (for items issues only):
Mission for Davio Key - Magicite

Multi-boxing? (multiple clients on same connection): Yes

[2021-06-12 21:43] EpicTaru commented on #471
@kpinoy Please let me know, either on this ticket or in game, when all of the affected characters are online.

[2021-06-12 21:52] EpicTaru commented on #471
Verified that above player(s) had completed the quest (**Crest of Davoi**) (**!checkquest 3 0**) and then gave the KI **Crest of Davoi** (**!addkeyitem 21**) to the player(s) so they are able to pass thru the Wall of Dark Arts if they wish to in the future.

Leaving this issue open for any other player that may also experience it.

[2021-06-15 14:22] tuing opened #533 "Aura Statue not dropping Diorite"
Date & Time:
06/15/2021 @ 04:00 PM

Client Version (use /ver in game):
30191204_1

Character Name:
Meyrink

Discord Name (if different from in game):
Meyrink

Nation:
Sandoria

Job(level)/Sub Job(level):
99 THF/49 DNC

NPC or Monster or item Name:
Aura Statue

Zone name:
The Shrine of Ruavitau

Coordinates (use !where):
didnt check

Item tool link (for items issues only):
n/a

Multi-boxing? (multi

[2021-06-15 16:40] EpicTaru commented on #523
Added character Harmony to the ticket, who is also climbing Voidwatch with all of @tuing's characters.

[2021-06-15 17:15] EpicTaru commented on #523
In the interests of not making players wait longer that necessary due to issues beyond their control, for all of the above listed characters, the following adjustments were performed (for character Harmony, the **Voidwatch Alarum** KI (**!addkeyitem 2048**) was also added, which she never received even though her voidwatch variable values matched those of the other players that she was part of the

[2021-06-15 17:31] tuing commented on #523
All four characters which are : **Mairinku, Minimey, Higuchi, and Luise** are now able to get the cutscene in Ru'Lude Gardens and received  the White Stratum abyssite KI and the Voidwatcher's emblem: Jeuno KI. While their quest log also updated properly with Battle on a New Front showing as a current quest in their Crystal Wars quests log, and the Crystal Wars quests Guardian of the Void and Draft

[2021-06-15 17:32] EpicTaru commented on #523
Thank you for the confirmation, @tuing.  I also confirm the above for character Harmony.

Keeping this ticket open for any other players that encounter this issue prior to the upcoming maintenance.

[2021-06-17 15:10] EpicTaru opened #534 "No upgrade to White Stratum Abyssite III after defeat of all Jeuno I Tier II VWNMs"
**Date & Time**:
06/17/2021 @ 1000 CST
Issue actually presented itself 06/16/2021 in the evening

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
Ancillam

**Discord Name (if different from in game):**
Epictaru#2948

**Nation:**
Sandoria (present and past)

**Job(level)/Sub Job(level):**
BLU99/RDM49

**NPC or Monster or item Name:**
Jeuno I Tier II VWNMs

**Zone name:**
N/

[2021-06-17 15:21] EpicTaru commented on #534
Value of variable **WHITE_STRATUM_II** for character is showing as 63 (**!checkvar WHITE_STRATUM_II**).
![image](https://user-images.githubusercontent.com/26195580/122424417-52e6ec00-cf54-11eb-93fc-e32936d24e52.png)

Since there are 6 mobs in Jeuno I Tier II, the value of 63 translates to a bit mask of 00111111.  Successful defeat of each of the 6 VWNMs in the tier changes one bit from False (0) t

[2021-06-17 19:27] EpicTaru commented on #534
Happened again, Ancillam's Tier III abyssite didn't automatically upgrade to IV after the defeat of all 3 of the Tier IV VWNMs.  Also noticed that she never received the Voidwatchers Emblem: Qufim KI.  Harmony's abyssite did automatically upgrade to Tier IV but she also never received the Voidwatchers Emblem: Qufim KI.

[2021-06-17 19:35] tuing commented on #534
Date & Time:
06/17/2021 @ 23:00 PM

Client Version (use /ver in game):
30191204_1

Character Name:
Mairinku
Minimey
Higuchi
Luise

Discord Name (if different from in game):
Meyrink (Tuing#9290)

Nation:
Sandoria
Sandoria
Sandoria
Sandoria

Job(level)/Sub Job(level):
99 THF/49DNC
99 WHM/49 RDM
99 BRD/ 39 WHM
99 BLU/49RDM

NPC or Monster or item Name:
n/a

Zone name:
Ru'Lude Garden

Coordinates (use

[2021-06-17 19:37] EpicTaru commented on #534
@tuing, this isn't related to the above, but please go to Norg and interact with Kieran.  Please respond here with what occurs when you do.

[2021-06-17 19:46] tuing commented on #534
As instructed by Epictaru, tested Kieran with Higuchi and the NPC gave normal response to start Zilart path.
![c3](https://user-images.githubusercontent.com/26522986/122462534-ebc24980-cfde-11eb-893b-3567f6fc2ba2.JPG)

Upon receiving the KI and when checking the quest log where supposedly Voidwatch Ops: Border Crossing quest is added but instead on Higuchi's quest log it shows this:
![c1](https://

[2021-06-17 19:48] EpicTaru commented on #534
Hmmm, interesting, thanks for that, @tuing

[2021-07-05 19:18] Shoruto commented on #471
Date & Time:
7/5/2021 @ 3:17 pm

Client Version (use /ver in game):
30191204_1

Character Name:
Sporuto

Discord Name (if different from in game):
Sporky

Nation:
Windy

Job(level)/Sub Job(level):
99 PLD/49 WAR

NPC or Monster or item Name:
Baudin

Zone name:
Upper Jeuno

Coordinates (use !where):
X:-75 Y:0 Z: 80 (106)

Item tool link (for items issues only):
Mission for Davoi Key - Magicite

Mult

[2021-07-09 21:48] Shoruto commented on #471
Date & Time:
7/9/2021 @ 5:47 pm

Client Version (use /ver in game):
30191204_1

Character Name:
Sporuto

Discord Name (if different from in game):
Sporky

Nation:
Windy

Job(level)/Sub Job(level):
99 PLD/49 WAR

NPC or Monster or item Name:
Baudin

Zone name:
Upper Jeuno

Coordinates (use !where):
X:-75 Y:0 Z: 80 (106)

Item tool link (for items issues only):
Mission for Davoi Key - Magicite

Mult

[2021-07-09 21:51] EpicTaru commented on #471
Verified that above player(s) had completed the quest (**Crest of Davoi**) (**!checkquest 3 0**) and then gave the KI **Crest of Davoi** (**!addkeyitem 21**) to the player(s) so they are able to pass thru the Wall of Dark Arts if they wish to in the future.

Leaving this issue open for any other player that may also experience it.

[2021-07-09 23:51] Shoruto commented on #477
Date & Time:
7/9/2021 @7:48 pm

Client Version (use /ver in game):
30191204_1

Character Name:
Sporuto

Discord Name (if different from in game):
Sporky

Nation:
Windurst rank 6

Job(level)/Sub Job(level):
99 PLD/49 WAR

NPC or Monster or item Name:
(Key Item) Timeless Hourglass

Zone name:
Xarcabard & Windurst Walls

Coordinates (use !where):
X:101 Y:0 Z:-66 (66)

Item tool link (for items issues

[2021-07-10 00:29] EpicTaru commented on #477
@Shoruto Please let me know when you are next online so I can check your variables and assist in resolving this issue for you.

[2021-07-10 09:50] Shoruto commented on #477
Thanks, I'm going to log in and stay logged in.  If you need to talk to me in game and I don't respond feel free to ping me on discord.

[2021-07-10 20:10] EpicTaru commented on #477
Value of character's **Dynamis_Status** variable was displaying as **512** for some reason.  Set the value of that variable to **0**.  Had player then zone the character into Xarcabard after which the character received the cutscene there and the **Dynamis_Status** variable successfully updated correctly to **1**.  Character then examined the Trail Markings in Windurst Walls and successfully recei

[2021-07-11 21:06] EpicTaru opened #535 "Abyssea - Uleguerand NM Blanga spawns at wrong position"
**Date & Time**:
07/11/2021 @ 1553

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
N/A

**Discord Name (if different from in game):**
N/A

**Nation:**
N/A

**Job(level)/Sub Job(level):**
N/A

**NPC or Monster or item Name:**
Blanga (http://homepointxi.com/db/monsters/17813930/Blanga)

**Zone name:**
Abyssea - Uleguerand (Zone ID 253)

**Coordinates (use `!where`):**
Curre

[2021-07-12 00:23] Shoruto opened #536 "ZM 7 - The Chamber of Oracles - No Cutscene"
Date & Time:
07/11/2021 @ 1553

Client Version (use /ver in game):
30191204_1

Character Name:
Sporuto

Discord Name (if different from in game):
Sporky

Nation:
Windurst

Job(level)/Sub Job(level):
99 PLD/49 WAR

NPC or Monster or item Name:
N/A

Zone name:
Chamber of Oracles

Coordinates (use !where):
X:200 Y:-2 Z:38 (190)

Item tool link (for items issues only):
N/A

Multi-boxing? (multiple cli

[2021-07-12 00:25] #536 closed

[2021-07-12 00:26] Shoruto commented on #536
I clicked on a pedestal a 9th time without a fragment and it gave me a CS.

[2021-07-13 21:03] EpicTaru opened #537 "No response from ??? used to spawn Abyssea-Grauberg NM Teugghia"
**Date & Time**:
07/13/2021 @ 1540

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
N/A

**Discord Name (if different from in game):**
N/A

**Nation:**
N/A

**Job(level)/Sub Job(level):**
N/A

**NPC or Monster or item Name:**
??? (qm3) (NPC ID 17818083)

**Zone name:**
Abyssea - Grauberg (Zone ID 254)

**Coordinates (use `!where`):**
X: -68.305 Y: -6.750 Z: 657.159

**Item

[2021-07-24 00:16] Heepster03 commented on #537
fixed for new upcoming update.

[2021-07-24 00:17] Heepster03 commented on #535
fixed for new upcoming update.

[2021-07-24 07:04] neoffxi opened #538 "Abyssea Atma Issues"
**Date & Time**:
07/24/2021 3:01AM ET

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
Neo

**Discord Name (if different from in game):**
NeoArmy

**Nation:**
Bastok

**Job(level)/Sub Job(level):**
n/a

**NPC or Monster or item Name:**
All Atma Infufionist

**Zone name:**
Abyssea zones

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**
n/a

**Mul

[2021-07-24 07:10] neoffxi opened #539 "Pcmd and Acmd Issues"
**Date & Time**:
07/24/2021 3:08AM ET

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
Neo

**Discord Name (if different from in game):**
NeoArmy

**Nation:**
Bastok

**Job(level)/Sub Job(level):**
n/a

**NPC or Monster or item Name:**
n/a

**Zone name:**
different zones

**Coordinates (use `!where`):**
n/a

**Item tool link (for items issues only):**
n/a

**Multi-boxing?

[2021-07-24 12:33] Shoruto opened #540 "Linkshell Issues"
**Date & Time**:
7/24/2021 @ 8:23 AM EST

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
Fatalbeast

**Discord Name (if different from in game):**
Sporky

**Nation:**
Bastok

**Job(level)/Sub Job(level):**
51 DRK/25 SAM

**NPC or Monster or item Name:**
N/A

**Zone name:**
Bastok Mines, Crawlers Nest and Lower Jeuno (only places I have tested it at)

**Coordinates (use `!

[2021-07-24 12:55] EpicTaru commented on #540
Linkshell communications (/l blah blah or /l2 blah blah) aren't affected, only the searching of linkshell.

[2021-07-24 17:18] tb1 opened #541 "Unable to start VW CH6 (Aht Urhgan)"
**Date & Time**:

2021-07-24 1705 GMT

**Client Version (use `/ver` in game):**

30191204_1

**Character Name:**

Tbone The Absolute Most Magnificent

**Discord Name (if different from in game):**

Cornholio The Master Connoisseur Of Tee Pee

**Nation:**

Canada

**Job(level)/Sub Job(level):**

Part Time Building Support Worker (lv1) / International Spy and Man Of Mystery (lv007)

**NPC or Monster

[2021-07-24 17:45] EpicTaru commented on #541
Verified that status of VW quest **VW_OP_004_BIBIKI_BOMBARDMENT** did show a status of **COMPLETED** (**!checkquest 4 85**) and that the value of variable **VW_STATUS[Tavnazia]** did show as **0**.  Both of these adjustments would have occurred after interacting with Owain, as @tb1 indicated. Also verified that player didn't have the KI **AMBER_STRATUM_ABYSSITE** (**!haskeyitem 2062**).

[2021-07-24 18:12] EpicTaru commented on #540
Resolved.

[2021-07-24 18:12] #540 closed

[2021-07-24 18:13] EpicTaru commented on #539
Resolved.

[2021-07-24 18:13] #539 closed

[2021-07-25 19:05] neoffxi opened #542 "Reforging AF3 Issue"
**Date & Time**:
07/25/2021 3:01PM ET

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
Neothree

**Discord Name (if different from in game):**
NeoArmy

**Nation:**
Bastok

**Job(level)/Sub Job(level):**
99THF / 49DNC

**NPC or Monster or item Name:**
Prishe

**Zone name:**
Abyssea - Empyreal Paradox

**Coordinates (use `!where`):**

**Item tool link (for items issues only)

[2021-07-25 19:49] EpicTaru commented on #542
Verified that player does have all 9 titles gained from defeating the 9 abyssea zone bosses:
![image](https://user-images.githubusercontent.com/26195580/126911460-c660c7d8-c37a-4827-9a33-5ad821d718df.png)
as well as all three Lunary Abyssites:
![image](https://user-images.githubusercontent.com/26195580/126911473-d1b6eb0a-be2c-40b3-b412-8e8540f33497.png)
as well as the title gained for defeating Sh

[2021-07-25 20:08] EpicTaru commented on #520
Resolved in last update.

[2021-07-25 20:08] #520 closed

[2021-07-25 20:09] EpicTaru commented on #533
Resolved in last update.

[2021-07-25 20:09] #533 closed

[2021-07-25 20:10] EpicTaru commented on #525
Resolved in last update.

[2021-07-25 20:10] #525 closed

[2021-07-25 20:11] EpicTaru commented on #519
Resolved in last update.

[2021-07-25 20:11] #519 closed

[2021-07-25 20:12] EpicTaru commented on #518
Resolved in last update.

[2021-07-25 20:12] #518 closed

[2021-07-25 20:12] EpicTaru commented on #517
Resolved in last update.

[2021-07-25 20:12] #517 closed

[2021-07-25 20:13] EpicTaru commented on #516
Resolved in last update.

[2021-07-25 20:13] #516 closed

[2021-07-25 20:14] EpicTaru commented on #503
Should have been resolved in maintenance before most recent one, please open another ticket if this issue is still encountered.

[2021-07-25 20:14] #503 closed

[2021-07-25 20:15] EpicTaru commented on #501
@Dankykong Are you still experiencing this issue?

[2021-07-25 20:17] BasslineTRT commented on #502
Party is unable to enter BCSM for mission 5-2

[2021-07-25 20:18] EpicTaru commented on #502
@BasslineTRT Please start the battle and have all party members enter it, please let me know in-game or via DM when all are in the battlefield.

[2021-07-25 20:19] EpicTaru commented on #502
@BasslineTRT please also respond here with the names of party members as well as your client version.

[2021-07-25 20:19] EpicTaru commented on #486
Fixed in maintenance prior to most recent.

[2021-07-25 20:19] #486 closed

[2021-07-25 20:20] EpicTaru commented on #484
Fixed in maintenance prior to most recent.

[2021-07-25 20:20] #484 closed

[2021-07-25 20:22] BasslineTRT commented on #502
djsnowfang and Meashon

[2021-07-25 20:22] EpicTaru commented on #474
Duplicate issue, please comment on https://github.com/HomepointXI/Issues/issues/502 if this hasn't already been resolved, @Albian-HomepointXI

[2021-07-25 20:22] #474 closed

[2021-07-25 20:23] EpicTaru commented on #502
Need client version too, @BasslineTRT

[2021-07-25 20:25] EpicTaru commented on #470
Duplicate issue, please comment on https://github.com/HomepointXI/Issues/issues/471 if you are still having this issue, @Albian-HomepointXI

[2021-07-25 20:25] #470 closed

[2021-07-25 20:29] BasslineTRT commented on #502
30191204_1 for the client version

[2021-07-25 20:30] EpicTaru commented on #502
kk, thank you, please let me know when all party members are in the battlefield

[2021-07-25 20:33] BasslineTRT commented on #502
In the battlefield now

[2021-07-25 20:35] EpicTaru commented on #425
This is not an issue, the damage output of Atonement was never supposed to be as much as it originally was here before it was corrected.  Per BG-wiki:
![image](https://user-images.githubusercontent.com/26195580/126912737-4080fd46-2a31-4e7a-9d0e-cbc115e229a1.png)

[2021-07-25 20:35] #425 closed

[2021-07-25 20:36] EpicTaru commented on #502
Please capture the death message of the mob in case it's needed, @BasslineTRT.

[2021-07-25 20:50] EpicTaru commented on #410
Elemental crystals/clusters dropping from elementals is handled in the core, not in the DB.

Heep/Immo were assigned to add the Elementals to the list of drop sources for the wind ore (item ID 1257) in this case (as you referenced an air elemental, not a lightning elemental).

[2021-07-25 20:54] EpicTaru commented on #453
Added in maintenance prior to most recent:
![image](https://user-images.githubusercontent.com/26195580/126913212-0dd52835-dc22-4dab-926a-ef1dfc210f79.png)

[2021-07-25 20:54] #453 closed

[2021-07-25 20:55] BasslineTRT commented on #502
Getting the victory cut Scene right now

[2021-07-25 20:55] EpicTaru commented on #502
Excellent, no need to post the death message, congrats on the win!

Keeping this issue open for any other players that may also encounter it.

[2021-07-25 20:57] BasslineTRT commented on #502
Thank you again for your help. I really appreciate it Epic.

[2021-07-25 21:01] EpicTaru commented on #378
Resolved in maintenance prior to last.

[2021-07-25 21:01] #378 closed

[2021-07-25 21:01] EpicTaru commented on #469
Resolved in maintenance prior to most recent.

[2021-07-25 21:01] #469 closed

[2021-07-25 21:02] EpicTaru commented on #409
Resolved in maintenance prior to most recent.

[2021-07-25 21:02] #409 closed

[2021-07-25 21:06] EpicTaru commented on #323
Arasy Sachet has no mods assigned to it, causing it to make the avatar weaker, it is only used as an ingredient here, as detailed in the wiki page for the item:
http://wiki.homepointxi.com/Arasy_Sachet
![image](https://user-images.githubusercontent.com/26195580/126913479-bccea1a3-0c99-4a36-96ac-5fa6bcc8b6dd.png)

[2021-07-25 21:06] #323 closed

[2021-07-25 21:14] EpicTaru commented on #177
This was resolved in the maintenance prior to most recent but I noticed that the Item Tool is now showing this item as dropping from Om'yovra in Al'Taieu......maybe this is on purpose???? I doubt that **_anyone_** would _**forget**_ getting a **_touch_** by one of these mobs...../shudder.......

[2021-07-25 21:42] EpicTaru commented on #121
Mob checks as an NM now, but drops still need to be added:
http://www.ffxidb.com/items/2682 - Holly Strongbox @ 100% drop rate
http://ffxidb.com/items/11390 - Llwyd's Clogs @ 11.2% drop rate
http://ffxidb.com/items/19218 - Murderer @ 16.3% drop rate

All items have mods/gear sets coded already.

[2021-07-25 22:18] BasslineTRT commented on #494
Hi Epic. I have the two items for this mission. Unfortunately when I talk to Mapitoto she just says "Hello, Hello"

[2021-07-25 22:19] EpicTaru commented on #494
On which character(s), @BasslineTRT?

[2021-07-25 22:19] BasslineTRT commented on #494
Meashon

[2021-07-25 22:22] EpicTaru commented on #494
Verified that above character(s) do not already have the Raptor Companion KI (KeyItem ID **3073** or the Trainer's Whistle KI (KeyItem ID **3055**).  Also verified that the character(s) do possess the Chocobo License KI (KeyItem ID **138**).

Seeing as the quest here on HomepointXI is extremely simplified and in the interest of not delaying players of the ability to summon mounts (given the extrem

[2021-07-25 22:23] BasslineTRT commented on #494
Thanks again Epic

[2021-07-25 22:57] neoffxi opened #543 "Glory Slash: Weapon skill issue"
**Date & Time**:
07/25/2021 6:51PM ET

**Client Version (use `/ver` in game):**
3019-1204_1

**Character Name:**
Neommule

**Discord Name (if different from in game):**
NeoArmy

**Nation:**
Bastok

**Job(level)/Sub Job(level):**
99 PLD / 49 WAR

**NPC or Monster or item Name:**
n/a

**Zone name:**
n/a

**Coordinates (use `!where`):**
n/a

**Item tool link (for items issues only):**
n/a

**Multi-bo

[2021-07-25 22:57] neoffxi commented on #543
![Neommule_2021 07 25_185415](https://user-images.githubusercontent.com/34224364/126916005-1a855382-c855-486d-bf84-1ace162374ab.png)

[2021-07-25 22:58] neoffxi commented on #543
![Neommule_2021 07 25_185104](https://user-images.githubusercontent.com/34224364/126916008-fa875fa9-07dd-4205-8443-1dadabf8c7b3.png)

[2021-07-26 04:38] Heepster03 commented on #542
This has been hotfixed and is currently working as of now. I had to write a new command in the lua but it is now working as intended. It is also back to telling you what lunars and bosses you are missing should that be why you can't obtain the armor.

@neoffxi give it a try for me when you get back on and i'll close the ticket if it's working for you. It should be now :)

[2021-07-26 05:08] Heepster03 commented on #495
fixed in upcoming update.

[2021-07-26 15:32] #487 closed

[2021-07-26 15:32] EpicTaru commented on #487
Resolved in maintenance prior to most recent.

[2021-07-26 22:05] neoffxi commented on #542
That fixed it. Thank you :D

[2021-07-26 22:09] #542 closed

[2021-07-27 03:25] Dankykong opened #544 "Unable to start Shinryu fight"
**Date & Time**:
July 26 900PM

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
Vixxen

**Discord Name (if different from in game):**
Sevvghetto

**Nation:**
Bastok

**Job(level)/Sub Job(level):**
99THF/DNC49

**NPC or Monster or item Name:**

**Zone name:**
Abyssea - Empyreal Paradox

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-bo

[2021-07-27 04:27] Heepster03 commented on #458
officially in next patch.

[2021-07-27 06:07] Heepster03 commented on #351
![image](https://user-images.githubusercontent.com/8421725/127104203-f314316c-d498-41f3-81c2-de8ec7d8a129.png)

This was fixed awhile back.

[2021-07-27 06:07] #351 closed

[2021-07-27 13:15] Heepster03 commented on #410
Fixed. Next update.

[2021-07-27 13:18] Heepster03 commented on #121
Fixed. Next update.

[2021-07-27 13:19] Heepster03 commented on #177
Fixed. Next update. For reals this time.

[2021-07-27 17:49] Heepster03 commented on #541
she's hotfixed and is working as intended now.

[2021-07-27 17:49] #541 closed

[2021-07-29 19:21] Heepster03 commented on #331
fixed in next update

[2021-07-30 05:23] Heepster03 commented on #178
@tb1 from what I can see, this is a long overdue update for your list and what mods are completed and attached to each weapon thusfar. everything except 27061 and 26749 has been already fixed.

27968 - Unknown Mod (890) 16 || ENH_MAGIC_DURATION = 890
27420 - Unknown Mod (890) 30 || ENH_MAGIC_DURATION = 890
26907 - Unknown Mod (290) 14 || ENF_MAG_POTENCY = 290
28331 - Unknown Mod (290) 6 || ENF_MAG

[2021-07-30 06:59] Heepster03 commented on #103
In regards to the ??? location for spawning Ix'MNK, I'm going to leave the part where the ??? disappears commented out for convenience of the player-base.  This could change in the foreseeable future but the player-base will be notified should that occur.

[2021-07-30 06:59] #103 closed

[2021-07-30 07:14] Heepster03 commented on #424
This was previously resolved at some point and no longer an issue. I verified, myself, that I can equip the Exalted Bow and also arrows.

[2021-07-30 07:14] #424 closed

[2021-07-30 07:14] Heepster03 commented on #424
and it also shows me the bow WSs when equipped.

[2021-07-30 07:18] Heepster03 commented on #111
This was resolved in 2019 on dsp. They fixed it so that dead people can get credit still.

[2021-07-30 07:18] #111 closed

[2021-07-30 07:27] Heepster03 commented on #117
This was fixed in a prior update, Orcs spawn 15min after being killed.

[2021-07-30 07:27] #117 closed

[2021-07-30 07:30] Heepster03 commented on #427
fixed for next update. and Thanks @ibm2431!

[2021-07-30 07:45] Heepster03 commented on #213
fixed for next patch.

[2021-07-30 08:32] Heepster03 commented on #134
Might be able to fix this with a merge request from Topaz.

[2021-07-30 23:24] Heepster03 commented on #538
Issue has been resolved. Verified that the atma commands are working and also the Infusionist is giving out atmas like candy.

[2021-07-30 23:24] #538 closed

[2021-07-31 05:35] neonracer commented on #331
Randall, You and your friends have deleted me and my characters from
homepoint. Its neonracer.. PLease delete me from your emails.
Unless you wish to have me returned with my full characters intact, if not
, then do not send me these emails.

Thanks

On Thu, Jul 29, 2021 at 3:21 PM Randall Heep ***@***.***>
wrote:

[2021-07-31 06:10] Jessland86 commented on #331
@neonracer, This was not us sending you an email. This was automated from GitHub Directly as you are the issue author. It states this in the email you received from GitHub. GitHub gives you instructions on how not to receive any more emails from them as well inside the email. Please see below:

![image](https://user-images.githubusercontent.com/28382433/127730587-2ec1ad9c-b657-4f94-90fe-25fd59691c

[2021-07-31 06:33] neonracer commented on #331
Whatever Jess, lol. Why should I login?? You permabanned my chars, jailed &
more pr less deleted.

You have the power, you do it.

I have no more less to say in the matter

Consider this conversation, finished.

Cheers, in these most undesired and dispicable times...

On Sat., Jul. 31, 2021, 2:10 a.m. Jessland86, ***@***.***>
wrote:

[2021-07-31 06:34] Jessland86 commented on #331
Ok.

[2021-07-31 06:34] Jessland86 commented on #331
You

[2021-07-31 06:34] Jessland86 commented on #331
know

[2021-07-31 06:34] Jessland86 commented on #331
you

[2021-07-31 06:34] Jessland86 commented on #331
get

[2021-07-31 06:34] Jessland86 commented on #331
an

[2021-07-31 06:34] Jessland86 commented on #331
email

[2021-07-31 06:35] Jessland86 commented on #331
each

[2021-07-31 06:35] Jessland86 commented on #331
time

[2021-07-31 06:35] Jessland86 commented on #331
someone

[2021-07-31 06:35] Jessland86 commented on #331
responds

[2021-07-31 06:35] Jessland86 commented on #331
right?

[2021-07-31 06:40] Jessland86 commented on #331
Also glad to see your personality hasn't changed in the past three years since leaving us. You might have actually had a chance of having your characters reinstated had you just been a decent human being and civil, and showing that you had grown as a person and learned from the reason you were permabanned from the server.

[2021-08-01 22:04] SirYanFFXI commented on #352
Date & Time: August 1st 2011 17:58 EST

Client Version (use /ver in game): 30191204_1

Character Name:
Shantatta RDM51/WHM01
Shantitti RDM51/WHM01
Shantuttu RDM50
Karaha WHM51
Baruha WHM50

Discord Name (if different from in game): Siryan

Nation: Bastok

Job(level)/Sub Job(level): 99/49

NPC or Monster or item Name: Syrillia

Zone name: Batallia Downs

Coordinates (use !where): X:-515 Y:-16 Z:195

[2021-08-01 22:06] Heepster03 commented on #352
I know that it “used” to just auto CS when you got to her location without
her physically being there. I’ll try to work on this quest next.

On Sun, Aug 1, 2021 at 17:04 SirYanFFXI ***@***.***> wrote:

[2021-08-01 22:13] SirYanFFXI commented on #352
Thanks for the info Heep. I went back to Jeuno to take raptor again and I was probably not on "the spot". CS triggered

[2021-08-01 22:45] EpicTaru commented on #352
Yeah, even if the npc isn't there, just need to ride the raptor around around that little area that the marker for the npc indicates that are at on /map. Once you enter the little "region" that the npc is normally at, the cs will trigger and you'll automatically be sent back to jeuno at the end of the cs

[2021-08-03 14:23] Heepster03 commented on #544
Okay, was able to get this fully functional last night on my test server. This will be included in the next update. Sorry for the delay.

[2021-08-03 14:25] Heepster03 commented on #39
This will be fixed in the next update, required a core code change.

[2021-08-05 23:50] Fragile2021 opened #545 "Unable to proceed Sandy mission "Magicite""
**Date & Time**:
2021/8/6

**Client Version (use `/ver` in game):**
30210706_0

**Character Name:**
Fragile and Higgs

**Discord Name (if different from in game):**
Fragile

**Nation:**
San d'Oria

**Job(level)/Sub Job(level):**
fragile BLM72/RDM36
higgs BLM75/RDM37

**NPC or Monster or item Name:**
Baudin

**Zone name:**
Upper Jeuno

**Coordinates (use `!where`):**
x:-72 y:0 z:80 (142)

**Item to

[2021-08-05 23:59] EpicTaru commented on #545
@Fragile2021 I'll fix this for you in a few minutes, almost done eating

[2021-08-06 00:03] Heepster03 commented on #502
will be fixed in next update!

[2021-08-06 00:04] Heepster03 commented on #504
fixed next update!

[2021-08-06 00:05] Heepster03 commented on #506
fixed next update!

[2021-08-06 00:12] EpicTaru commented on #545
Duplicate of: https://github.com/HomepointXI/Issues/issues/471

Verified that above player(s) had completed the quest (**Crest of Davoi**) (**!checkquest 3 0**) and then gave the KI **Crest of Davoi** (**!addkeyitem 21**) to the player(s) so they are able to pass thru the Wall of Dark Arts if they wish to in the future.

[2021-08-06 00:19] Fragile2021 commented on #545
I got the KI and proceeding the Davoi CS at the moment. Looks good to me. Thank you very much for your prompt support!

[2021-08-06 00:23] Fragile2021 commented on #545
Another issue. I got black screen while watching the CS, and it stops in the middle. Pls help.

[2021-08-06 00:24] EpicTaru commented on #545
Which CS?  At the magicite?

[2021-08-06 00:24] Fragile2021 commented on #545
Yes, the CS in Davoi.

[2021-08-06 00:25] EpicTaru commented on #545
Just noticed your client version number, this will very most definitely cause issues with many things in the game, CSes being one of them.

[2021-08-06 00:26] Fragile2021 commented on #545
I see. Let me do the version lock thing and give it a try.

[2021-08-06 00:26] EpicTaru commented on #545
http://wiki.homepointxi.com/How_To:Version_Lock_Your_Client

[2021-08-09 14:51] Heepster03 commented on #543
fixed in upcoming update!

[2021-08-10 15:15] Heepster03 commented on #534
completely rebuilt voidwatch with the assistance of @EpicTaru and tested to it's 100% capacity. will be in next update.

[2021-08-10 16:59] EpicTaru commented on #545
Player was able to access the server with no further issues, closing this issue.

[2021-08-10 16:59] #545 closed

[2021-08-10 18:35] EpicTaru commented on #511
fixed in upcoming update!

[2021-08-10 18:36] EpicTaru commented on #510
fixed in upcoming update!

[2021-08-10 18:47] EpicTaru commented on #459
This ticket is resolved, all issues mentioned in the ticket are non-issues now. 👍🏼

[2021-08-10 18:47] #459 closed

[2021-08-10 18:50] EpicTaru commented on #472
Should be fixed in upcoming maintenance.

[2021-08-10 20:37] EpicTaru commented on #359
Closing as this should have been fixed a while ago, please comment on ticket again if issue re-presents itself.

[2021-08-10 20:37] #359 closed

[2021-08-10 21:32] Heepster03 commented on #61
Closing. If someone has an issue it can be addressed.

[2021-08-10 21:32] #61 closed

[2021-08-10 21:39] Heepster03 commented on #139
Closing. Any future issues can be in a new ticket

[2021-08-10 21:39] #139 closed

[2021-08-11 15:18] EpicTaru commented on #479
Confirmed this was resolved in previous maintenance.  Closing.

[2021-08-11 15:18] #479 closed

[2021-08-11 15:38] EpicTaru commented on #433
Closing this issue, please create a new ticket if this issue presents itself again.

[2021-08-11 15:38] #433 closed

[2021-08-11 15:46] EpicTaru commented on #415
I am unable to re-create this issue.  Please open a new issue regarding this if the issue presents itself again.

[2021-08-11 15:46] #415 closed

[2021-08-11 15:48] EpicTaru commented on #394
These abilities are not currently coded here, no timeline as to when they will be implemented.

[2021-08-11 15:49] EpicTaru commented on #501
@Dankykong Are you still experiencing this issue? This issue will be closed in a week if a response to this ticket isn't received.

[2021-08-11 16:39] EpicTaru commented on #196
Closing this issue as it should have been fixed a while ago.  Please open a new issue if it presents itself again.

[2021-08-11 16:39] #196 closed

[2021-08-11 17:41] EpicTaru commented on #256
@Heepster03 @Jessland86 This line needs added into item_mods.sql to resolve this issue:

<pre>INSERT INTO `item_mods` VALUES (27444,411,25); -- Quick Draw damage + 25</pre>

[2021-08-11 17:46] EpicTaru commented on #257
Closing this issue as it may have been a multibox issue and last comment about it was over two years ago.  Please open a new ticket if this issue presents itself again.

[2021-08-11 17:46] #257 closed

[2021-08-11 18:26] EpicTaru commented on #97
None of these spells are coded here or on any other private server that has shared them with other private servers.  No timeline for when they may be implemented.

[2021-08-12 02:59] Heepster03 commented on #112
This spell is not implemented anywhere. I made the scroll learnable but it's useless as the spell has no script. Gonna close this ticket. Long story short, don't buy it , unless you're wanting to add a spell to your list for completion but won't have a use for lol

[2021-08-12 02:59] #112 closed

[2021-08-12 03:01] Heepster03 commented on #97
Added and coded these spells. The only thing that needs to be figured out before I release them is a animationID for them.

[2021-08-12 03:23] Heepster03 commented on #151
![image](https://user-images.githubusercontent.com/8421725/129133615-5ec8e565-3c7f-40fc-adf4-a04d76088529.png)

seems to be working as intended. closing!

[2021-08-12 03:23] #151 closed

[2021-08-12 04:08] Heepster03 commented on #205
gonna close this, might be something we do in the future. no reason to have the ticket open anymore

[2021-08-12 04:08] #205 closed

[2021-08-12 04:20] Heepster03 commented on #193
![image](https://user-images.githubusercontent.com/8421725/129137774-5534e5ad-3d10-4827-8cbd-8e02d7287687.png)

Working as intended.

[2021-08-12 04:20] #193 closed

[2021-08-12 04:22] Heepster03 commented on #142
I completely rebuilt the PUP Automaton shop in Nashmau and verified that Tateeya will accept the ones from the shop as intended.

[2021-08-12 14:09] #514 closed

[2021-08-12 14:57] Heepster03 commented on #167
Rebuilt the script for the Xzomits and they now use Mijin as intended. Also fixed it so that the adds despawn after JoJ dies or depops. Fixed in upcoming update.

[2021-08-12 15:39] Heepster03 commented on #364
![image](https://user-images.githubusercontent.com/8421725/129226023-329369ae-fd57-407e-ab04-5301cde6db6a.png)

No longer an issue. Working as intended.

[2021-08-12 15:39] #364 closed

[2021-08-12 16:52] Heepster03 commented on #219
This spell is not implemented anywhere. I made the scroll learnable but it's useless as the spell has no script. Gonna close this ticket. Long story short, don't buy it , unless you're wanting to add a spell to your list for completion but won't have a use for lol

[2021-08-12 16:55] Heepster03 opened #546 "Known Non-functioning Spells"
This is a running list of spells that have not been implemented.
(They are learnable, however; when casted they do nothing.)

DRK
- Absorb-Attri

RDM
- Inundation

[2021-08-12 17:03] Heepster03 commented on #256
Fixed for next update!

[2021-08-12 17:07] Heepster03 commented on #264
For the time being, these recipes have been disabled due to the weapons being better than REM for us at the current time. Going to close the issue.

[2021-08-12 17:07] #264 closed

[2021-08-12 18:36] Heepster03 commented on #254
Tested with some random mobs doing Gravitic Horn and my client didn't crash. Thus, closing the ticket... should it happen again. Open a new ticket.

[2021-08-12 18:36] #254 closed

[2021-08-12 18:37] #278 closed

[2021-08-12 18:53] Heepster03 commented on #281
![image](https://user-images.githubusercontent.com/8421725/129252491-2c506678-8e92-4f3e-8da7-aaf72bee6363.png)

These are the only two flutes that are available to be traded in for GP. Flute, Flute+1, and Flute+2 are not in the list. Which makes sense as Flute is just buyable from the NPC for cheap.

Closing ticket.

[2021-08-12 18:53] #281 closed

[2021-08-12 18:59] Heepster03 commented on #286
Fixed in next update!

[2021-08-12 19:33] Heepster03 opened #547 "Unscripted BST Jug Pets"
Running list of Non-Implemented BST Jug Pets:
- http://homepointxi.com/db/items/17920/meaty_broth
- http://homepointxi.com/db/items/17921/muddy_broth
- http://homepointxi.com/db/items/17922/blackwater_broth
- http://homepointxi.com/db/items/21444/livid_broth
- http://homepointxi.com/db/items/21445/lyrical_broth
- http://homepointxi.com/db/items/21446/airy_broth
- http://homepointxi.com/db/items/21

[2021-08-12 19:34] Heepster03 commented on #311
made a new ticket, will keep it updated as things come to light.

[2021-08-12 19:34] #311 closed

[2021-08-12 19:45] Heepster03 commented on #319
![image](https://user-images.githubusercontent.com/8421725/129259425-c37c0f67-1f41-4956-a75f-d678284e6f30.png)

Seems to be working as intended... should this issue occur, just open a new ticket.

[2021-08-12 19:45] #319 closed

[2021-08-12 19:54] EpicTaru commented on #465
After yet **ANOTHER** exhaustive climb up COP (this time on the test server), I can confirm that this issue is resolved!
![image](https://user-images.githubusercontent.com/26195580/129260530-76c16aeb-67fa-456d-aee1-eae685e5283e.png)

[2021-08-12 19:54] #465 closed

[2021-08-12 19:59] Heepster03 commented on #345
Just verified myself that:

Hi (with Kikoku MH) > Rudras (with Mandau MH)
AND
Rudras (with Mandau MH) > Hi (with Kikoku MH)

Both created Darkness Skillchains that produced damage. Therefore, closing ticket.

[2021-08-12 19:59] #345 closed

[2021-08-12 20:03] Heepster03 commented on #350
Placed the drop back on Vulpangue as it is in Retail. Fixed for next update!

[2021-08-12 20:12] Heepster03 commented on #355
Closing as not worried about the Escort quests if they aren't implemented. Plenty of other ways to get XP and such :)

[2021-08-12 20:12] #355 closed

[2021-08-12 20:16] simthra opened #548 "~ Gully Clionids not respawning ~"
**Date & Time**:
12/8/21 22.13 gmt+1

**Client Version (use `/ver` in game):** 30191204_1

**Character Name:** Thranduil

**Discord Name (if different from in game):** Thranduil

**Nation:**Bastok 10

**Job(level)/Sub Job(level):**MNK99/WAR49

**NPC or Monster or item Name:**Gully Clionid

**Zone name:** Abyssea-Tahrongi

**Coordinates (use `!where`):** -236, 16, -599

**Item tool link (for items

[2021-08-12 20:29] EpicTaru commented on #548
Heep/Immo, not sure why, but these should have a 60 second respawn (according to the LD code) but they aren't showing this on the Monster Tool, they also aren't showing the boosted level that they should have (LD code shows their level range should be 106-110:

<pre>REPLACE INTO `mob_groups` VALUES (1456,1845,45,60,0,1606,10000,20999,106,110,0); -- Gully Clionid</pre>

[2021-08-13 01:26] Heepster03 commented on #97
Got the animationIDs, these spells will be 100% working in next update!

[2021-08-13 01:47] Heepster03 commented on #548
It's because some are set as mob_group 2 and some were set at 52, which doesn't exist. Same thing with the Gulch Limule. Fixed for update!

[2021-08-13 02:15] Heepster03 commented on #356
This was carried over from LD and has since been fixed awhile back. Closing ticket.

[2021-08-13 02:15] #356 closed

[2021-08-13 02:16] Heepster03 commented on #371
Sounds like a multibox issue. Closing ticket.

[2021-08-13 02:16] #371 closed

[2021-08-14 06:38] Cheezdawgy opened #549 "Blurred Staff not working properly"
**Date & Time**:
8/13/2021 2:04AM MST

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
Lexis

**Discord Name (if different from in game):**
Cheezdawg

**Nation:**
Bastok

**Job(level)/Sub Job(level):**
BLM99/RDM49

**NPC or Monster or item Name:**

**Zone name:**

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (multiple client

[2021-08-14 06:58] EpicTaru commented on #549
On quick glance, the Blurred Staff and the Keraunos look to have the correct modifiers but the Ngqoqwob looks to have WAY TOO much MAB. I'll look into this further later on my computer and confer with Heep/Immo about it. Thanks for bringing this to our attention, @Cheezdawgy.

[2021-08-14 16:16] simthra commented on #549
![staves](https://user-images.githubusercontent.com/12772770/129452625-640a9438-a29a-4377-96c3-e194bc9f3e72.jpg)

I've looked into this issue while I was leveling my blm too. Also Venabulum seems too have too much MAB

[2021-08-14 16:33] EpicTaru commented on #549
Venabulum has more custom MAB on purpose because of what it takes to obtain it here.

[2021-08-22 15:23] ZurmaFFXI opened #550 "Field of Valor Book Incorrect Text"
**Date & Time**:
August 22nd, 2021 - 11:19am EST

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
Zurma

**Discord Name (if different from in game):**

**Nation:**
Windurst (The Best of Vana'diel)

**Job(level)/Sub Job(level):**
19 Monk

**NPC or Monster or item Name:**
Neither of those

**Zone name:**
Tahrongi Canyon

**Coordinates (use `!where`):**
X:317 Y:-16 Z:-87 (101

[2021-08-22 15:24] EpicTaru commented on #550
Issue presents itself regardless of page selected.

[2021-08-22 20:16] EpicTaru commented on #550
Checked all other zones with a field manual or grounds tome in it. Issue also exists with the Field Manuals in The Sanctuary of Zi'Tah (Zone 121).  No zones with Grounds Tomes have the issue.

[2021-08-23 13:47] Heepster03 commented on #68
fucking finally.... issue has been resolved and will be in next update.

[2021-08-24 04:36] Heepster03 commented on #133
Diabolos lives! He can do abilities in the next update, not all of them atm but the normal stuff that he should be able to do that is implemented! FINALLY

[2021-08-24 13:13] simthra opened #551 "~ Karakul leather ~ Cannot be crafted"
**Date & Time**: 24/08/21

**Client Version (use `/ver` in game):**30191204_1

**Character Name:**Nanatuttatana

**Discord Name (if different from in game):**Thranduil

**Nation:**Windurst

**Job(level)/Sub Job(level):**WHM99/RDM49

**NPC or Monster or item Name:**

**Zone name:** anywhere

**Coordinates (use `!where`):**anywhere

**Item tool link (for items issues only):**http://homepointxi.com/d

[2021-08-24 14:04] EpicTaru commented on #551
![image](https://user-images.githubusercontent.com/26195580/130630260-b14049fc-2c77-460a-88cc-66a385502b69.png)

I was able to perform this craft successfully on the test server.  Please ensure that you met all the requirements.  A common cause of you receiving that message is the absence of the necessary KI.

[2021-08-24 14:04] #551 closed, assigned to EpicTaru

[2021-08-24 14:06] Heepster03 commented on #551
I just verified on the LIVE server that either of the three methods listed on the DB can be performed perfectly fine.
![image](https://user-images.githubusercontent.com/8421725/130631211-9ac1e33e-fd39-4329-a39c-0c059b9288da.png)
Willing to bet that maybe an ingredient was forgotten to be placed in the box.

[2021-08-24 14:06] Heepster03 commented on #551
Thanks ET for the quick response!

[2021-08-29 03:00] blademaster-888 opened #552 "pup earth maneuver doesn't cast stoneskin"
**Date & Time**:
12pm 29/8/21

**Client Version (use `/ver` in game):**
server lock version

**Character Name:**
blademaster

**Discord Name (if different from in game):**
blademaster

**Nation:**
bastok

**Job(level)/Sub Job(level):**
puppetmaster

**NPC or Monster or item Name:**
/pet wind maneuever

**Zone name:**
any battle map

**Coordinates (use `!where`):**
n/a

**Item tool link (for items

[2021-08-29 22:11] ZurmaFFXI opened #553 "Repeatable Quest giving Double Gil"
**Date & Time**:
8/29/2011 @ 6:05 pm EST

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
Zurma

**Discord Name (if different from in game):**

**Nation:**
Windurst

**Job(level)/Sub Job(level):**
45 Monk/ 22 Warrior

**NPC or Monster or item Name:**
IIIu Bohjaa

**Zone name:**
Windurst Woods

**Coordinates (use `!where`):**
X:21 Y:-5 Z:125 (128)

**Item tool link (for ite

[2021-08-29 22:13] EpicTaru commented on #553
@ZurmaFFXI Please list the names of the other quests.  The double gil rewards is expected because of how the settings for the server are.

[2021-08-29 22:16] ZurmaFFXI commented on #553
Updated

[2021-08-29 22:20] EpicTaru commented on #553
Heep, if it is of any assistance, I noticed in the DSP code that the code for the Creepy Crawlies quest, out of all the quests listed, was the only one that used the global npc_util.lua to handle the processing of the completion of the quests/rewards for completion.

[2021-08-30 01:10] Heepster03 commented on #553
![image](https://user-images.githubusercontent.com/8421725/131272180-34c22e9b-83d6-408b-b90b-8c757c8d8684.png)
The chat log is just telling you twice that you're getting it, but I'm only getting it once. But I will address the issue, nonetheless.

[2021-08-30 14:07] Heepster03 commented on #553
Issue has been resolved and will be fixed in next update!

[2021-08-30 14:57] ZurmaFFXI commented on #553
Awesome, great job Heep and Epic :)

[2021-08-30 15:06] Heepster03 commented on #553
Just to make it known, I already verified all of the quests mentioned and all are working as intended now for the update.

[2021-08-31 20:04] ZurmaFFXI commented on #471
Date & Time:
8/31//2021 @ 3:59  pm

Client Version (use /ver in game):
30191204_1

Character Name:
Zurma

Discord Name (if different from in game):

Nation:
Windurst

Job(level)/Sub Job(level):
58 MNK/29 WAR

NPC or Monster or item Name:
Baudin

Zone name:
Upper Jeuno

Coordinates (use !where):
X:-75 Y:0 Z: 80 (106)

Item tool link (for items issues only):

Multi-boxing? (multiple clients on same

[2021-08-31 20:06] EpicTaru commented on #471
Verified that above player(s) had completed the quest (**Crest of Davoi**) (**!checkquest 3 0**) and then gave the KI **Crest of Davoi** (**!addkeyitem 21**) to the player(s) so they are able to pass thru the Wall of Dark Arts if they wish to in the future.

Leaving this issue open for any other player that may also experience it.

[2021-08-31 21:45] Heepster03 commented on #471
Hmm, I'll see what I can figure out... aiming for perma closing the ticket and no longer having this issue.

[2021-08-31 22:58] ZurmaFFXI opened #554 "Flesh Eater (Worm) in Eastern Altepa Desert /checked as a NM"
**Date & Time**:
8/31/2021 @ 6:53 PM

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
Zurma

**Discord Name (if different from in game):**

**Nation:**
Windurst

**Job(level)/Sub Job(level):**
58 MNK/29 WAR

**NPC or Monster or item Name:**
Flesh Eater (Worm)

**Zone name:**
Eastern Altepa Desert

**Coordinates (use `!where`):**
X:58 Y:-14 Z:223 (117)

**Item tool link (fo

[2021-08-31 23:45] EpicTaru commented on #554
Group ID is 13 and Pool ID is ~~1368~~1369, Halk.

Curse my fat fingers!

[2021-09-01 13:36] Heepster03 commented on #554
`INSERT INTO `mob_pools` VALUES (1369,'Flesh_Eater','Flesh_Eater',258,0x0000A80100000000000000000000000000000000,4,5,7,240,100,0,0,0,1,16,0,0,7,131,0,0,9,1,64,258);`

It's 1369, but yeah I found it :P

[2021-09-01 13:44] Heepster03 commented on #554
Issue resolved for next update. Updated the 16 NM flag to a 0 for Normal mob.

[2021-09-01 13:52] Heepster03 commented on #549
Issue has been resolved for future update.

[2021-09-01 16:21] Heepster03 commented on #550
Fixed for next update!

[2021-09-01 16:24] EpicTaru commented on #501
Closing ticket.  Please open a new ticket if this issue still exists.

[2021-09-01 16:24] #501 closed

[2021-09-01 18:52] Heepster03 commented on #500
Fixed for upcoming update, there will no longer be an issue with any of the three maws to start WoTG. All CS's will function properly and no more freezing of clients.

[2021-09-01 19:22] #140 closed

[2021-09-01 19:35] Heepster03 commented on #156
Just need to get the Mob_Animation_ID for Disorienting Waul and it'll be fixed.

[2021-09-01 19:37] Heepster03 commented on #178
Just need to create the mods for modifiers.h, already submitted a ticket to LSB about it.

[2021-09-02 15:40] Heepster03 commented on #372
Issue has been resolved for next update!

[2021-09-02 16:07] Heepster03 commented on #170
Issue has been resolved for next update!

[2021-09-02 16:45] Heepster03 commented on #357
Issue has been resolved for next update!

[2021-09-02 16:48] Heepster03 commented on #380
This was either an isolated incident or it was previously resolved. No longer an issue.

[2021-09-02 16:48] #380 closed

[2021-09-02 19:35] Heepster03 commented on #375
![image](https://user-images.githubusercontent.com/8421725/131905280-28240fa0-6a4c-447d-bd75-de9c0e94cbdb.png)
Updated the core and tested on the TestServer. Charm is now working as intended and will be in the next update!

[2021-09-02 23:20] EpicTaru commented on #477
Issue has been resolved for next update!!!

[2021-09-02 23:35] EpicTaru commented on #428
This issue was fixed in a previous maintenance.  Closing ticket.

[2021-09-02 23:35] #428 closed

[2021-09-02 23:37] EpicTaru commented on #241
This issue was fixed sometime in the past, is currently displaying correct animation for throwing.

[2021-09-02 23:37] #241 closed

[2021-09-03 13:23] Heepster03 commented on #385
![image](https://user-images.githubusercontent.com/8421725/132012173-2c957c8c-a047-41ac-985c-18461f0787bc.png)
Issue has been resolved for next update!

[2021-09-03 13:25] Heepster03 commented on #393
![image](https://user-images.githubusercontent.com/8421725/132012502-cb76c70f-770c-4f76-8b15-e0b185d62ae6.png)
Issue resolved for next update!

[2021-09-03 23:36] Heepster03 commented on #394
The aforementioned abilities have been added to the next upcoming update.

[2021-09-04 01:55] Heepster03 commented on #528
If you're still interested, you can reach me at: Halkuras#1965 on Discord.

[2021-09-04 01:55] #528 closed

[2021-09-04 01:55] Heepster03 commented on #526
If you're still interested, you can reach me at: Halkuras#1965 on Discord.

[2021-09-04 01:55] #526 closed

[2021-09-04 01:55] Heepster03 commented on #509
If you're still interested, you can reach me at: Halkuras#1965 on Discord.

[2021-09-04 01:55] #509 closed

[2021-09-04 01:55] Heepster03 commented on #491
If you're still interested, you can reach me at: Halkuras#1965 on Discord.

[2021-09-04 01:55] #491 closed

[2021-09-04 01:56] Heepster03 commented on #439
If you're still interested, you can reach me at: Halkuras#1965 on Discord.

[2021-09-04 01:56] #439 closed

[2021-09-04 01:56] Heepster03 commented on #435
If you're still interested, you can reach me at: Halkuras#1965 on Discord.

[2021-09-04 01:56] #435 closed

[2021-09-04 01:56] Heepster03 commented on #432
If you're still interested, you can reach me at: Halkuras#1965 on Discord.

[2021-09-04 01:56] #432 closed

[2021-09-04 01:56] Heepster03 commented on #426
If you're still interested, you can reach me at: Halkuras#1965 on Discord.

[2021-09-04 01:56] #426 closed

[2021-09-04 01:56] Heepster03 commented on #422
If you're still interested, you can reach me at: Halkuras#1965 on Discord.

[2021-09-04 01:56] #422 closed

[2021-09-04 01:57] Heepster03 commented on #354
If you're still interested, you can reach me at: Halkuras#1965 on Discord.

[2021-09-04 01:57] #354 closed

[2021-09-04 02:28] Heepster03 commented on #437
![image](https://user-images.githubusercontent.com/8421725/132079462-f942caf5-d888-4713-b2ce-ceb96e3e4ba1.png)

It is now working and will be in next update!

[2021-09-04 03:54] Heepster03 commented on #370
this was apparently fixed in some update since then. however, you have to back out of the menu after purchasing the KI and then talk again and the KI will no longer be re-obtainable due to owning it.

[2021-09-04 03:54] #370 closed

[2021-09-05 15:04] Sennar1593 opened #555 "Account Recovery: Do not remember account Name or Password"
**Date & Time**: I do not remember last time i was online, for sure 2018

**Client Version (use `/ver` in game):**

**Character Name:** Rolevitt

**Discord Name (if different from in game):** Sennar #6517

**Nation:** Windurst

**Job(level)/Sub Job(level):** Do not remember

**NPC or Monster or item Name:**

**Zone name:**

**Coordinates (use `!where`):**

**Item tool link (for items issues only):

[2021-09-05 15:05] EpicTaru commented on #555
@Sennar1593 please fill in the complete details of your discord name, including the # and the numbers after it (for example, mine is Epictaru#2948)

[2021-09-05 21:42] liugan12 opened #556 "Unable to make the party go to the same BC for mission cop 6-4"
Date & Time:
06/09/2021 @ 05:45 PM

Client Version (use /ver in game):
30191204_1

Character Name:
Nights
Nigo
Nioo
Nices

Discord Name (if different from in game):
Miss#3309

Nation:
Sandoria
Sandoria

Job(level)/Sub Job(level):
99 thf/49 nin
99 nin/ 37 dnc
99 RDM/49 blm
99 blm/49 whm

NPC or Monster or item Name:
Sealion's Den

Zone name:

Coordinates (use !where):

Item tool link (for items iss

[2021-09-05 22:40] Heepster03 commented on #556
This issue will be resolved in our next update which is right around the corner. Maybe I can see if I can do it tomorrow.

[2021-09-05 22:43] liugan12 commented on #556
well. If you have time to enter the game and help me solve it, you can contact me in the game.
If you don't have time, I can carry out the cop task after maintenance.

[2021-09-06 01:38] BasslineTRT commented on #475
Meashon traded the Cursed Key with the Granite Door and the expected CS was received. Unfortunately the Book of the Gods KI didn't drop after the CS. Mission is still in limbo.

[2021-09-06 02:41] Heepster03 commented on #475
I verified that the player has a MissionStatus of 4 and still has the Blank Book of the Gods. Informed player that they would have to try trading to the door again. I gave them the cursed key back so they can try it again. I also verified on the server itself that there are no console errors or anything.

[2021-09-06 05:49] Heepster03 commented on #436
Issue is resolved and will be in next update!

[2021-09-06 16:00] Heepster03 commented on #555
Issue resolved

[2021-09-06 16:00] #555 closed, assigned to nobody

[2021-09-09 11:23] EpicTaru commented on #480
https://github.com/DarkstarProject/darkstar/issues/5885

[2021-09-10 00:57] protocolz2025 opened #557 "Failed to get the KI for dynamis"
**Date & Time**:
2021/9/8

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
regzof

**Discord Name (if different from in game):**
fragile

**Nation:**
sandy

**Job(level)/Sub Job(level):**
blm99/rdm49

**NPC or Monster or item Name:**
Vial of shrouded sand

**Zone name:**
sandy

**Coordinates (use `!where`):**
x:140 y:-2 z:120 (162)

**Item tool link (for items issues only)

[2021-09-10 01:01] EpicTaru commented on #557
Duplicate of https://github.com/HomepointXI/Issues/issues/477

@Fragile2021, I'm already offline for the day, I will find you tomorrow to look into this issue further.

[2021-09-13 01:25] EpicTaru commented on #557
Value of character's **Dynamis_Status** variable was displaying as 1024 for some reason. Set the value of that variable to **0**. Had player then zone the character into Xarcabard after which the character received the cutscene there and the Dynamis_Status variable successfully updated correctly to 1. Character then examined the Trail Markings in South Sandy and successfully received the KI Shroud

[2021-09-13 01:25] #557 closed, assigned to EpicTaru

[2021-09-20 16:56] Heepster03 opened #558 "Known PUP Issues"
Puppet ability issues:
- Flash
- Provoke
- Stoneskin

Boulder Worms in Gustav Tunnel not giving XP when summoning Automaton with ilvl Animator. #530

Automaton appears to be having graphic glitches which affects their range. #529

ilvl Animators are causing Ranged Automatons to move into melee range. #327

ilvl Animators aren't making Automatons the desired ilvl, as intended. #325

Automaton skill

[2021-09-20 16:57] Heepster03 commented on #46
moved to #558

[2021-09-20 16:57] #46 closed

[2021-09-20 16:58] Heepster03 commented on #552
moved to #558

[2021-09-20 16:58] #552 closed, assigned to nobody

[2021-09-20 16:58] Heepster03 commented on #530
moved to #558

[2021-09-20 16:58] #530 closed

[2021-09-20 16:58] Heepster03 commented on #529
moved top #558

[2021-09-20 16:58] #529 closed

[2021-09-20 16:59] Heepster03 commented on #327
moved to #558

[2021-09-20 16:59] #327 closed

[2021-09-20 16:59] Heepster03 commented on #325
moved to #558

[2021-09-20 16:59] #325 closed

[2021-09-20 17:10] Heepster03 opened #559 "Known Missing Item Mods"
- Enfeebling magic spellcasting time
-- [Estoqueurs Chappel +1](http://homepointxi.com/db/items/11168/estoqueurs_chappel_+1) (-8%)
-- [Estoqueurs Chappel +2](http://homepointxi.com/db/items/11068/estoqueurs_chappel_+2) (-12%)
-- [Lethargy Chappel](http://homepointxi.com/db/items/26748/lethargy_chappel) (-14%)
-- [Lethargy Chappel +1](http://homepointxi.com/db/items/26749/lethargy_chappel_+1) (-15%

[2021-09-20 17:11] Heepster03 commented on #178
Moved to #559

[2021-09-20 17:11] #178 closed

[2021-09-20 17:15] Heepster03 commented on #438
moved to #559

[2021-09-20 17:15] #438 closed

[2021-09-20 19:41] Heepster03 commented on #382
resolved in next update!

[2021-09-20 21:49] Heepster03 commented on #524
Mob was adjusted and will be applied in next update, we will see how this plays out.

[2021-09-21 01:29] Heepster03 commented on #429
In the next update... Due to the fuckery with trying to make this work. These two items will now inherit REGAIN+9, which will display as Latent Regain+10; however you will get 9TP/tick. Every time I bump it up to 10/tick, the description changes on the item to Latent Regain+20 and I'm just not going to deal with over assuming like that for the time being. At least it will work now regardless of be

[2021-09-21 19:04] Heepster03 opened #560 "0 Delay (Throwing Ammo)"
**There is a known bug that causes the following items to have 0 delay when thrown.**
_Maybe not all of these items are obtainable, I went through the whole DB and made a list._
_This is across DSP/Topaz/LSB._

•	[17296 ](http://homepointxi.com/db/items/17296/) – Pebble
•	[17297 ](http://homepointxi.com/db/items/17297/)– Throwing Coin
•	[17298 ](http://homepointxi.com/db/items/17298/)– Tathlum
•	[

[2021-09-21 19:06] Heepster03 commented on #480
closing due to new updated ticket # 560 created.

[2021-09-21 19:06] #480 closed

[2021-09-24 18:57] Heepster03 commented on #156
Thanks to zach2good fetching the animationid for me, this is now resolved and will be in the upcoming update!

[2021-09-24 19:21] Heepster03 commented on #457
holy fuck, such a complicated issue had such an easy fix lmfao. Anyways, next update this is fixed!

[2021-09-25 21:42] lilaevyn opened #561 "Rul'ude Gardens Crash."
**Date & Time**:
8/25/2021

**Client Version (use `/ver` in game):**
Version 30200904_2

**Character Name:**

Aevyn

**Discord Name (if different from in game):**

lilAevyn

**Nation:**
Windurst

**Job(level)/Sub Job(level):**
99 BLM/ 49 WHM

**NPC or Monster or item Name:**

N/A

**Zone name:**
Ru'Lude Gardens

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-

[2021-09-25 22:44] EpicTaru commented on #561
@lilaevyn describe please what you did in boyahda and in windurst prior to going to ru lude.

Also, please list what addons/plugins you have loaded, as well as if your client is running at an fps faster than 30 fps.

Lastly, the fact that your client version is drastically different from the server version may also be a cause, if you are able at all to download the dat pack to align your client ve

[2021-09-26 00:11] lilaevyn commented on #561
In Boyadha I used a warp ring to return to Windurst where I changed jobs from Scholar to Blackmage. I put on my pre made set for Blackmage. Trashed some garbage items for space, then went to Lower Jeuno M ( pretty sure ) and then all the problems starteed. My client is running 50 FPS on the start up.

/load WindowerInput
/load Addons
/load Screenshot
/load Minimap
/load WatchEXP

and
/addon load d

[2021-09-26 01:08] EpicTaru commented on #561
The game will run 30 fps if you don't change the fps manually. Are you using the fps addon to increase it? If so, please disable the fps addon. I highly doubt that the higher fps would be the cause though, it's more than likely the client mismatch occurring because of the version of your client.

[2021-09-26 16:12] lilaevyn commented on #561
Okay, I went back. I am running on 28-29 in the character selection screen. I'm gonna see about the mismatch of client.

[2021-09-26 16:17] lilaevyn commented on #561
Also, I am currently crashing as soon as I get into the game now. I can't play :/

[2021-09-26 16:37] EpicTaru commented on #561
Do the version lock then please report back if you still continue to have the instability after you are running on the server client version

[2021-09-27 05:38] Heepster03 commented on #561
@lilaevyn let's us know what the status is. Is it working as intended when on the version locked version.

[2021-09-28 20:25] lilaevyn commented on #561
It worked just fine! Thank you for everything, and thanks to you guys and War we got it working!

[2021-09-28 20:26] EpicTaru commented on #561
Always glad to hear, @lilaevyn.  I'm going to go ahead and close this issue now.

[2021-09-28 20:26] #561 closed, assigned to EpicTaru

[2021-09-30 18:38] lilaevyn commented on #502
Having problems with 5-2 fight as well.
My character: Aevyn With Warleaf and EpicTaru

[2021-09-30 18:38] EpicTaru commented on #502
KK, sec, I'll pull them to the battlefield you are on, @lilaevyn

[2021-09-30 18:38] Heepster03 commented on #502
This will be fully resolved in the update

[2021-09-30 18:43] EpicTaru commented on #502
Congrats on the win, @lilaevyn!

Keeping this issue open for any other players that may also encounter it.

[2021-10-06 18:03] EpicTaru commented on #556
This issue was resolved in yesterday's maintenance.  Please open a new ticket should this issue re-occur.

[2021-10-06 18:03] #556 closed, assigned to nobody

[2021-10-06 18:12] EpicTaru commented on #554
![image](https://user-images.githubusercontent.com/26195580/136259169-364e1d02-2629-4ace-8a4e-072d845366fb.png)

This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 18:12] #554 closed, assigned to nobody

[2021-10-06 18:12] EpicTaru commented on #553
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 18:12] #553 closed, assigned to Heepster03, EpicTaru

[2021-10-06 18:18] EpicTaru commented on #550
![image](https://user-images.githubusercontent.com/26195580/136260115-6913e641-a265-4e22-8256-964e67a7afa7.png)

![image](https://user-images.githubusercontent.com/26195580/136260449-4bcfb1b2-6d88-47af-9362-bfc170f5fb10.png)

This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 18:18] #550 closed, assigned to Heepster03, EpicTaru

[2021-10-06 18:23] EpicTaru commented on #549
![image](https://user-images.githubusercontent.com/26195580/136260759-0de206f1-ccab-407f-b6d7-fb990c861d02.png)

 Check the Item Modifications to determine which have.

This issue and several other end-game staves were "resolved" in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 18:23] #549 closed

[2021-10-06 18:25] EpicTaru commented on #548
![image](https://user-images.githubusercontent.com/26195580/136261467-02d15dac-ae07-4cd3-b38c-53877a3ceb47.png)

This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 18:25] #548 closed

[2021-10-06 18:31] EpicTaru commented on #544
![image](https://user-images.githubusercontent.com/26195580/136262248-1f95a5d2-8406-43ea-8c43-9eac13103028.png)

This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 18:40] EpicTaru commented on #543
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 18:40] #543 closed

[2021-10-06 18:44] EpicTaru commented on #537
![image](https://user-images.githubusercontent.com/26195580/136263970-a85f4150-7a25-420c-8e0f-b479bce4a071.png)

![image](https://user-images.githubusercontent.com/26195580/136263719-0402c29e-57ce-49c5-8361-3c8b22d6f0b9.png)

This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 18:46] EpicTaru commented on #535
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 18:46] #535 closed

[2021-10-06 18:46] EpicTaru commented on #524
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 18:47] EpicTaru commented on #511
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 18:47] #511 closed

[2021-10-06 18:47] EpicTaru commented on #506
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 18:49] EpicTaru commented on #495
![image](https://user-images.githubusercontent.com/26195580/136264732-8c7f47f3-8702-4afa-bc1c-4a23d7afb6b7.png)

This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 18:50] EpicTaru commented on #510
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 18:50] #510 closed

[2021-10-06 18:50] EpicTaru commented on #504
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 18:51] EpicTaru commented on #502
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 18:52] EpicTaru commented on #494
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 18:52] EpicTaru commented on #477
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 18:52] #477 closed

[2021-10-06 18:53] EpicTaru commented on #472
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 18:54] EpicTaru commented on #471
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 18:56] EpicTaru commented on #458
![image](https://user-images.githubusercontent.com/26195580/136265634-c6f4e278-8625-4c40-bd53-7f39035fa8bd.png)

This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 18:59] EpicTaru commented on #457
![image](https://user-images.githubusercontent.com/26195580/136266073-6451e201-684f-4a51-94e8-386b56dd29ae.png)

This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 19:04] EpicTaru commented on #450
![image](https://user-images.githubusercontent.com/26195580/136266595-0cd8e1e7-084b-4687-bf6c-a9e14754824b.png)

![image](https://user-images.githubusercontent.com/26195580/136266724-f8c5749a-ea5e-4374-8162-c42c48a28c52.png)

This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 19:12] EpicTaru commented on #437
![image](https://user-images.githubusercontent.com/26195580/136267784-1ed40b97-bf83-4e20-a533-a0813a5c96c3.png)

This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 19:12] #437 closed

[2021-10-06 19:19] EpicTaru commented on #429
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 19:19] #429 closed

[2021-10-06 19:20] EpicTaru commented on #427
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 19:42] EpicTaru commented on #394
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 19:42] #394 closed, assigned to nobody

[2021-10-06 19:45] EpicTaru commented on #393
![image](https://user-images.githubusercontent.com/26195580/136272505-7c7dde0e-e737-49e7-a4d0-b4cd37c77659.png)
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 19:45] #393 closed

[2021-10-06 19:54] EpicTaru commented on #385
![image](https://user-images.githubusercontent.com/26195580/136273828-324a20cf-a38e-43fd-b0d8-5091d3e2e85b.png)

![image](https://user-images.githubusercontent.com/26195580/136273409-e8796589-bba5-4da3-95b8-7f984810489c.png)

This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 19:57] EpicTaru commented on #375
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 19:59] EpicTaru commented on #372
![image](https://user-images.githubusercontent.com/26195580/136274415-fc727745-77d8-4fce-9e55-96fc9eddf65a.png)

This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 19:59] #372 closed

[2021-10-06 20:01] EpicTaru commented on #357
![image](https://user-images.githubusercontent.com/26195580/136274720-a18063a5-4d4d-4284-94bd-17b59e3ab440.png)
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 20:04] EpicTaru commented on #352
![image](https://user-images.githubusercontent.com/26195580/136275054-54ec3f56-7dc5-4c83-b55a-5d722627e8c0.png)
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 20:04] #352 closed

[2021-10-06 20:07] EpicTaru commented on #350
![image](https://user-images.githubusercontent.com/26195580/136275306-bc98ae17-a8ce-4029-ad8a-90ab021fbcf5.png)

This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

The addition of the latent effect is forthcoming in a future update.

[2021-10-06 20:11] EpicTaru commented on #348
![image](https://user-images.githubusercontent.com/26195580/136276005-cc34da10-3fb6-4e0b-8d62-661d84503e04.png)

![image](https://user-images.githubusercontent.com/26195580/136276065-9eb000fd-a383-42d9-abaf-5953cdb139f9.png)
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 20:16] EpicTaru commented on #286
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 20:16] #286 closed

[2021-10-06 20:18] EpicTaru commented on #256
![image](https://user-images.githubusercontent.com/26195580/136276869-64bbcaa2-6954-4ecf-8fff-c951aaa50d87.png)
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 20:18] #256 closed

[2021-10-06 20:20] EpicTaru commented on #213
![image](https://user-images.githubusercontent.com/26195580/136277155-10bab9d0-077b-4fa2-92cb-1765e71654b6.png)
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 20:20] #213 closed

[2021-10-06 20:22] EpicTaru commented on #177
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 20:32] EpicTaru commented on #436
![image](https://user-images.githubusercontent.com/26195580/136278745-497b4133-31d8-4de1-8539-f7678f594734.png)
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 20:45] EpicTaru commented on #167
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 20:48] EpicTaru commented on #156
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 20:53] EpicTaru commented on #142
![image](https://user-images.githubusercontent.com/26195580/136281430-2899a0c7-7d4e-45f5-9f5a-e7b46b98bdda.png)
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 20:53] #142 closed, assigned to EpicTaru

[2021-10-06 20:54] EpicTaru commented on #134
![image](https://user-images.githubusercontent.com/26195580/136281611-0be27411-d409-48f3-b0e5-e8ec7d1133c8.png)
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 20:57] EpicTaru commented on #133
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 21:03] EpicTaru commented on #97
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 21:06] EpicTaru commented on #68
![image](https://user-images.githubusercontent.com/26195580/136283047-0203c8f9-a028-4689-8ee8-36f09bb896c3.png)
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 21:07] EpicTaru commented on #39
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 21:36] EpicTaru commented on #114
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 21:37] EpicTaru commented on #59
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 22:01] EpicTaru commented on #523
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-06 22:26] EpicTaru commented on #534
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-08 14:18] EragonHomepoint opened #562 "Many levels of mobs not reflecting /check values, also aggro levels of mobs not directly reflecting player levels"
**Date & Time**:
10/8/2021

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
Eragon

**Discord Name (if different from in game):**
Taru4Life

**Nation:**
Windurst

**Job(level)/Sub Job(level):**
40 Drk/ 20 War

**NPC or Monster or item Name:**
Jotunn Gatekeeper and other Jotunns

**Zone name:**
Upper Delkfutts Tower

**Coordinates (use `!where`):**
Floor 12 and Floor 11

**

[2021-10-08 14:35] EpicTaru commented on #562
Edited post to correct what the /checked as to me but I'll also add this comment from another player in the #general channel of our discord.

![Screenshot_20211008-093033_Discord](https://user-images.githubusercontent.com/26195580/136575470-9fdeccf1-3e57-4627-bc22-4f63da2fab2c.jpg)

[2021-10-09 14:14] Heepster03 commented on #382
yay, had to redo the fix due to unfucking the first september update. it'll be pulled in when I do it again.

[2021-10-09 14:14] Heepster03 commented on #121
yay, had to redo the fix due to unfucking the first september update. it'll be pulled in when I do it again.

[2021-10-09 14:56] EpicTaru commented on #500
This issue was resolved in latest maintenance. Please open a new ticket should this issue re-occur.

[2021-10-10 00:43] protocolz2025 opened #563 "Missing Item Mods: Orsn. Pantaln. +1 & +2"
**Date & Time**:
2021/10/10

**Client Version (use `/ver` in game):**

**Character Name:**
Fragile

**Discord Name (if different from in game):**

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**

**Zone name:**

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (multiple clients on same connection):**

**Steps to reproduce:*

[2021-10-10 00:51] protocolz2025 opened #564 "Missing Item Mods: Spaekona's Coat"
**Date & Time**:
2021/10/10

**Client Version (use `/ver` in game):**

**Character Name:**
Fragile

**Discord Name (if different from in game):**

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**

**Zone name:**

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (multiple clients on same connection):**

**Steps to reproduce:*

[2021-10-10 00:57] Heepster03 commented on #563
Modifier 860 is Converts % of "Cure" amount to MP. Therefore working as intended.

[2021-10-10 00:57] #563 closed, assigned to Heepster03, EpicTaru

[2021-10-10 01:00] Heepster03 commented on #564
It's just not implemented.

[2021-10-10 01:08] protocolz2025 opened #565 "Missing Item Mods: Sancus Sachet/Arasy Sachet"
**Date & Time**:
2021/10/10

**Client Version (use `/ver` in game):**

**Character Name:**

**Discord Name (if different from in game):**

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**

**Zone name:**

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (multiple clients on same connection):**

**Steps to reproduce:**
Maybe

[2021-10-10 01:11] protocolz2025 commented on #563
OK. Can you update the database to show the mod 860 as intended rather than "Unknown Mod" ?

[2021-10-10 01:14] EpicTaru commented on #565
http://wiki.homepointxi.com/Arasy_Sachet regarding that sachet.

[2021-10-10 01:16] Heepster03 commented on #563
The mod works regardless of what it says. I just verified myself from the
modifier.h file. That’s why I said what I did. As far as it being updated,
that’s a site thing and am currently in progress on working for a solution.

On Sat, Oct 9, 2021 at 20:11 Fragile2021 ***@***.***> wrote:

[2021-10-10 01:42] Heepster03 commented on #565
![image](https://user-images.githubusercontent.com/8421725/136678276-3302cfb1-08e2-4e59-9450-2fd8b329e4b4.png)

![image](https://user-images.githubusercontent.com/8421725/136678269-5d60b219-a883-4e06-b822-b3605398598b.png)

Also our custom is set here you put your pet level to whatever your level weapon you have equipped. So, if you have a 119 weapon, you have a 119 pet. Therefore due to how the c

[2021-10-10 01:42] #565 closed, assigned to Heepster03, EpicTaru

[2021-10-11 13:38] ShivouFFXI commented on #562
Adding to this that the lvl 99ish Goblin mobs in Dangruf Wadi aren't aggroing and /check Too Weak.  I was level 23 warrior at the time.

[2021-10-11 18:58] Sethhp opened #566 "Prishe not upgrading Empyrean"
**Date & Time**:
Oct 11, 2021

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
Acisagic
Utena
Miz
Aries
Vicious
Enigma

**Discord Name (if different from in game):**
Seth

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**
Abbysea Zone Bosses
Shinryu

**Zone name:**
Abyssea - Empyreal Paradox

**Coordinates (use `!where`):**

**Item tool link (fo

[2021-10-11 19:27] EpicTaru commented on #566
Verified that all players listed had all necessary titles and lunar abyssites:

![image](https://user-images.githubusercontent.com/26195580/136844547-ff2a8f68-5632-4927-9f4c-b80867349c03.png)
![image](https://user-images.githubusercontent.com/26195580/136844575-e72db8ab-d6b2-4633-8596-fa75de6e7e6f.png)
![image](https://user-images.githubusercontent.com/26195580/136844655-63cda0ad-cb08-4aef-870e-cb

[2021-10-11 22:35] Heepster03 commented on #566
i found the issue, i think it broke when I had to roll back the update stuff. But I will pull to the server tonight. It'll be resolved without a reboot.

[2021-10-11 22:39] Sethhp commented on #566
ok, thanks ET and Heep

[2021-10-12 02:51] protocolz2025 opened #567 "Missing Item Mods: Haruspex Coat"
**Date & Time**:
2021/10/12

**Client Version (use `/ver` in game):**

**Character Name:**

**Discord Name (if different from in game):**

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**

**Zone name:**

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (multiple clients on same connection):**

**Steps to reproduce:**
http:/

[2021-10-12 02:54] Heepster03 commented on #567
ET add it in your project if not already done :)

[2021-10-12 02:55] EpicTaru commented on #567
Yep, already fixed in my project, lol

[2021-10-12 03:12] protocolz2025 opened #568 "Non Functioning Spells: Boost-INT"
**Date & Time**:
2021/10/12

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
Fragile

**Discord Name (if different from in game):**

**Nation:**
Sandy

**Job(level)/Sub Job(level):**
WHM99/RDM49

**NPC or Monster or item Name:**
n/a

**Zone name:**
n/a

**Coordinates (use `!where`):**
n/a

**Item tool link (for items issues only):**

**Multi-boxing? (multiple clients on sa

[2021-10-12 16:41] Heepster03 commented on #568
Okay, so the actual issue is that the caster will not get the effect when in a party. But the other party members do. Just tested this myself on HomepointXI. I'm looking into it now.

[2021-10-12 17:28] Heepster03 commented on #568
fixed issue, next pull it'll work

[2021-10-12 22:29] Sethhp opened #569 "Spaekonas Petasos +1 Missing Magic Atk. Bonus"
**Date & Time**:

**Client Version (use `/ver` in game):**

**Character Name:**

**Discord Name (if different from in game):**

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**

**Zone name:**

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (multiple clients on same connection):**

**Steps to reproduce:**

**Any additional

[2021-10-12 23:36] Heepster03 commented on #569
Fixed in your project?

[2021-10-12 23:38] EpicTaru commented on #569
Of course, lol.  If I haven't already gotten to it by the time a ticket is done, I jump to it and add it at that time.  It's not like I'd miss it when I'd eventually get to that part but might as well make sure it's reflected while it's in the focus!

[2021-10-12 23:40] Heepster03 commented on #569
👍

On Tue, Oct 12, 2021 at 18:38 EpicTaru ***@***.***> wrote:

[2021-10-13 15:11] Oderson opened #570 "atma of the sea daughter and atma of the voracious violet regain"
**Date & Time**:

10/13/21
**Client Version (use `/ver` in game):**

**Character Name:**
Nevion

**Discord Name (if different from in game):**

**Nation:**
Sandy

**Job(level)/Sub Job(level):**
Thf99/dnc49

**NPC or Monster or item Name:**

**Zone name:**

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (multiple clients on same connection):**

**Steps

[2021-10-13 15:18] EpicTaru commented on #570
Confirmed this. Individually, both atmas give their correct amounts of TP gain per tic but when both are applied, only the atma that was first applied is used for TP gain incrementation. The value of the TP gain for the atma applied secondly is completely ignored.

[2021-10-13 15:28] EpicTaru commented on #570
This issue appears to affect the stacking of any mod, experiencing it also with attempts to use both Stormbird and Minikin Monstrosity to try to get 15 refresh per tic

[2021-10-13 16:19] Heepster03 commented on #570
Okay I’m not home atm. But I’ll give it a shot later and see what I can
find out. Thanks for the info.

On Wed, Oct 13, 2021 at 10:28 EpicTaru ***@***.***> wrote:

[2021-10-14 03:28] Heepster03 commented on #570
okay, jesus fucking christ. I spent quite a bit on this and i found the real issue. It'll be fixed in the next update!

[2021-10-15 12:39] protocolz2025 opened #571 "FoV page not working"
**Date & Time**:
2021/10/15

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
fragile

**Discord Name (if different from in game):**

**Nation:**
sandy

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**

**Zone name:**

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (multiple clients on same connection):**

**Ste

[2021-10-15 12:40] EpicTaru commented on #571
@Fragile2021 please complete all the fields on the ticket.

[2021-10-16 23:02] Heepster03 commented on #571
fixed the issue regardless, it'll be in the update later tonight.

[2021-10-16 23:02] Heepster03 commented on #569
it'll be in tonight's update

[2021-10-16 23:03] Heepster03 commented on #567
it'll be in today's update

[2021-10-16 23:11] Heepster03 commented on #564
moved to the stickied #559

[2021-10-16 23:11] #564 closed, assigned to Heepster03, EpicTaru

[2021-10-16 23:22] Heepster03 commented on #170
Issue is that the Ghrah BLM add will Link and Aggro but won't move with the NM. Still Investigating that.

[2021-10-17 15:44] EpicTaru commented on #571
This issue was resolved in yesterday's maintenance. Please open a new ticket should this issue re-occur.

[2021-10-17 15:44] #571 closed, assigned to EpicTaru

[2021-10-18 15:46] EpicTaru commented on #570
To verify this has been resolved, and for sake of simplicity, I went with Atmas that increase the Triple Attack rate:

No armor:
![image](https://user-images.githubusercontent.com/26195580/137762981-862216ea-142a-4af2-813b-7aefebebe108.png)

With only Atma of the Lion applied (+7% Triple Attack rate):
![image](https://user-images.githubusercontent.com/26195580/137763068-e2c78ec8-200e-4fc6-afb1-8aa

[2021-10-18 15:46] #570 closed, assigned to Heepster03, EpicTaru

[2021-10-18 15:55] EpicTaru commented on #568
I enlisted the use of my Checkdiscord account for this, he's a level 1 warrior with the displayed value for INT:

![image](https://user-images.githubusercontent.com/26195580/137766134-6a314691-bc27-40fc-b5fe-12d598db9bda.png)

After receiving the effects of the Boost-INT spell casted upon the party by my GM chara:

![image](https://user-images.githubusercontent.com/26195580/137766313-66b719b6-7f4e

[2021-10-18 15:55] #568 closed, assigned to Heepster03

[2021-10-18 16:34] EpicTaru commented on #569
![image](https://user-images.githubusercontent.com/26195580/137771813-303a53c7-a3ce-4230-a18e-4667bc677f51.png)

This issue was resolved in the maintenance completed the night of 10/16. Please open a new ticket should this issue re-occur.

[2021-10-18 16:34] #569 closed, assigned to EpicTaru

[2021-10-18 16:45] EpicTaru commented on #567
![image](https://user-images.githubusercontent.com/26195580/137772405-73f9d364-6ab7-42a4-b1ce-1fc9ee62db33.png)

This issue was resolved in the maintenance completed the night of 10/16. Please open a new ticket should this issue re-occur.

[2021-10-18 16:45] #567 closed, assigned to Heepster03, EpicTaru

[2021-10-18 16:59] EpicTaru commented on #382
This issue was resolved in the maintenance completed the night of 10/16. Please open a new ticket should this issue re-occur.

[2021-10-18 16:59] #382 closed

[2021-10-18 17:02] EpicTaru commented on #331
![image](https://user-images.githubusercontent.com/26195580/137775676-f9fac1c3-ee17-4ea7-9305-a23a7725d561.png)

This issue was resolved in the maintenance completed the night of 10/16. Please open a new ticket should this issue re-occur.

[2021-10-18 17:37] EpicTaru commented on #566
This issue was resolved in the maintenance completed the night of 10/16. Please open a new ticket should this issue re-occur.

[2021-10-18 17:37] #566 closed, assigned to Heepster03, EpicTaru

[2021-11-01 05:35] protocolz2025 opened #572 "Wrong mod: Schellenband"
**Date & Time**:
2021/11/01

**Client Version (use `/ver` in game):**

**Character Name:**

**Discord Name (if different from in game):**

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**

**Zone name:**

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (multiple clients on same connection):**

**Steps to reproduce:**
Schell

[2021-11-01 13:16] EpicTaru commented on #572
That's how the code is set up for that mod, @Fragile2021, you'll notice it's the same way for any item that has that mod. It appears on the tool with a plus sign but code-wise, it's an integer value to reduce the casting time by.

[2021-11-01 13:16] #572 closed, assigned to EpicTaru

[2021-11-04 16:41] Oderson opened #573 "La Theine Liege not dropping KI"
**Date & Time**:
11/4

**Client Version (use `/ver` in game):**

**Character Name:**

Nevion

**Discord Name (if different from in game):**

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**

La Theine Liege (MobID 17318440)

**Zone name:**
Abyssea - La Theine (ZoneID 132)

**Coordinates (use `!where`):**
x: 80 y: 15 z: 199

**Item tool link (for items issues only):**

[2021-11-04 16:45] EpicTaru commented on #573
Updated ticket with MobID, ZoneID, and coordinates of mob.

I've also killed this mob multiple times today on my GM and have not yet obtained the KI either.

[2021-11-04 17:11] EpicTaru commented on #573
I've killed this mob now fairly constantly for the past half hour and the KI has not dropped at all.

[2021-11-04 17:17] Heepster03 commented on #573
I'm not sure why, script is there to drop it based on a Random. That hasn't ever been altered.

[2021-11-04 17:18] EpicTaru commented on #573
I'm not sure either, the code for the random chance for this KI has the same chance percentage as that of the KI that drops off Baba Yaga (aside from the name of the KI, ofc).

[2021-11-06 16:31] Sethhp opened #574 "Merirosvo Ring"
**Date & Time**:
Nov 6, 2021

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**

**Discord Name (if different from in game):**

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**
Laidly Laurence/Roly-Poly

**Zone name:**
Garlaige Citadel/Garlaige Citadel (S)

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**
http://homepo

[2021-11-06 17:41] EpicTaru commented on #574
Item doesn't have the correct equip. slots set for it in the code:

![image](https://user-images.githubusercontent.com/26195580/140618697-62595d85-aaf2-4551-b289-b501ad2f2f9a.png)

[2021-11-13 02:10] protocolz2025 opened #575 "Missing Item Mods: Mavi Bazubands +2"
**Date & Time**:
2021/11/13

**Client Version (use `/ver` in game):**

**Character Name:**
Fragile

**Discord Name (if different from in game):**

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**

**Zone name:**

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (multiple clients on same connection):**

**Steps to reproduce:*

[2021-11-13 02:12] protocolz2025 opened #576 "Missing Item Mods: Mavi Mintan +2"
**Date & Time**:
2021/11/13

**Client Version (use `/ver` in game):**

**Character Name:**
Fragile

**Discord Name (if different from in game):**

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**

**Zone name:**

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (multiple clients on same connection):**

**Steps to reproduce:*

[2021-11-13 02:16] EpicTaru commented on #576
No such mod exists at this point in time. No idea when it will added. Closing ticket but adding mod to list of known missing item mods. Thank you for your submission!

[2021-11-13 02:16] #576 closed, assigned to nobody

[2021-11-13 02:16] EpicTaru commented on #575
No such mod exists at this point in time. No idea when it will added. Closing ticket but adding mod to list of known missing item mods. Thank you for your submission!

[2021-11-13 02:16] #575 closed, assigned to nobody

[2021-11-13 02:28] protocolz2025 commented on #576
Aoidos Calot +2 got "(455): (BRD) Song Spellcasting Time +12%"
I think this is technically doable for BLU magic, right?

[2021-11-13 02:31] EpicTaru commented on #576
Not at this point in time, may be a future project though. Not as easy as just copying one mod to use it for another, lol.

[2021-11-13 02:35] protocolz2025 commented on #576
OK Understood. Just for you info.  Aoidos Rhingrave +2 got "(833): (BRD) Song Recast Delay +6". Pls consider implementing Recast Delay for BLU for your future project.

[2021-11-17 11:56] protocolz2025 opened #577 "Cirein-croin doesn't drop Sapphire Abyssite of Merit"
**Date & Time**:
2021/11/16

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
fragile

**Discord Name (if different from in game):**

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**

**Zone name:**

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (multiple clients on same connection):**
yes

**Steps

[2021-11-17 13:58] EpicTaru commented on #577
I will check later in game to verify.

[2021-11-17 15:07] EpicTaru commented on #577
and to clarify what you said, @Fragile2021, the obtaining of the KI is not 100%, actually is a pretty low chance, like the HP wiki states.  I'm still going to force-spawn and kill the NM multiple times to see if the abyssite is obtained or not.

[2021-11-17 15:32] EpicTaru commented on #577
At the start of the session:

![image](https://user-images.githubusercontent.com/26195580/142227815-63c534fd-e3de-4008-aa59-0b7b04be4447.png)

![image](https://user-images.githubusercontent.com/26195580/142227941-1780722e-a913-44ac-8104-0e770a710823.png)

After about 15 minutes or so of continuous killing:

![image](https://user-images.githubusercontent.com/26195580/142229843-d10215ee-1080-4889-9c

[2021-11-17 19:11] cigfa opened #578 "steelshells"
**Date & Time**: 11/17/21

**Client Version (use `/ver` in game):** v. locked on 3019

**Character Name:**morfran

**Discord Name (if different from in game):**cigfa

**Nation:**bastok

**Job(level)/Sub Job(level):**70/35

**NPC or Monster or item Name:**steelshell

**Zone name:**boyahda tree

**Coordinates (use `!where`):**no clue

**Item tool link (for items issues only):**

**Multi-boxing? (mul

[2021-11-17 19:12] EpicTaru commented on #578
May be related to https://github.com/HomepointXI/Issues/issues/562

[2021-11-20 03:08] protocolz2025 commented on #577
Two of my accounts got the KI. Maybe I was super lucky for Xibalba, Turul,, and Warbler.
Now you can close this ticket.

[2021-11-20 03:09] EpicTaru commented on #577
Ticket needs to remain open for the issue with the absence of the message in the chat log about the obtaining of the key item.

[2021-11-20 20:38] Cheezdawgy opened #579 "Every mob in Abyssea cons as "too weak to be worthwhile". Can't get xp/cruor."
**Date & Time**: 11/20/21 1:30PM MST

**Client Version (use `/ver` in game):** 30191204_1

**Character Name:** Lexis

**Discord Name (if different from in game):** Cheezdawg

**Nation:** Bastok

**Job(level)/Sub Job(level):** 99BLU/49RDM

**NPC or Monster or item Name:** All Abyssea mobs

**Zone name:** Abyssea

**Coordinates (use `!where`):** All areas

**Item tool link (for items issues only):**

[2021-11-20 20:40] EpicTaru commented on #579
Very most likely related to: https://github.com/HomepointXI/Issues/issues/562

[2021-11-20 21:25] Cheezdawgy commented on #579
Understood.

On Sat, Nov 20, 2021, 1:40 PM EpicTaru ***@***.***> wrote:

[2021-11-20 21:25] EpicTaru commented on #579
That was said mainly for referential purposes, not directly at you, @Cheezdawgy, lol.

[2021-11-22 20:01] djsnowfang opened #580 "Ghatsad incorrect text when certain item is chosen"
**Date & Time**: 11/22/2021

**Client Version (use `/ver` in game):** 30191204_1

**Character Name:**djsnowfang

**Discord Name (if different from in game):**

**Nation:**windurst

**Job(level)/Sub Job(level):**89pup/44sam

**NPC or Monster or item Name:**Ghatsad

**Zone name:** Aht Urhgan Whitegate

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (mul

[2021-11-22 20:14] EpicTaru commented on #580
Verified via the player's variables that Ghatsad indeed wanted the items for the Stormwaker frame, which is what the player had chosen.  This probably is just a case of IDs shifting and the shift never being corrected.

![image](https://user-images.githubusercontent.com/26195580/142928163-e85f01a8-0844-4b56-a811-5746f7773bf6.png)

[code]

[2021-11-25 05:11] protocolz2025 opened #581 "Cannot change job: Nomad Moogle in Nashumau"
**Date & Time**:

**Client Version (use `/ver` in game):**

**Character Name:**

**Discord Name (if different from in game):**

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**

**Zone name:**
Nashumau

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (multiple clients on same connection):**

**Steps to reproduce:**
1. Open

[2021-12-10 00:37] protocolz2025 commented on #581
The moogle in Tavnazian Safehold got the same issue.

[2021-12-10 00:40] protocolz2025 commented on #573
Reconfirmed this issue is still present.
Alternate suggestion: Trade 1G to ??? will give the KI. Or just clicking the ??? will give the KI.
I want to kill Hadhayosh before challenging Shinryu.

[2021-12-19 13:54] PunchdrunkXI opened #582 "Account Recovery"
**Date & Time**:
19th December 2021

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
Punchdrunk

**Discord Name (if different from in game):**
Punchdrunk

**Nation:**
Bastok

**Job(level)/Sub Job(level):**
Mnk99/War49

**NPC or Monster or item Name:**

**Zone name:** Bastok Mines

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing?

[2021-12-21 00:59] protocolz2025 opened #583 "Web page: double entry of "Crustacean Conundrum""
**Date & Time**:

**Client Version (use `/ver` in game):**

**Character Name:**

**Discord Name (if different from in game):**

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**

**Zone name:**

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (multiple clients on same connection):**

**Steps to reproduce:**
http://wiki.homep

[2021-12-21 01:03] protocolz2025 opened #584 "Webpage: Nahn is missing"
**Date & Time**:

**Client Version (use `/ver` in game):**

**Character Name:**

**Discord Name (if different from in game):**

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**

**Zone name:**

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (multiple clients on same connection):**

**Steps to reproduce:**
http://wiki.homep

[2021-12-21 01:05] EpicTaru commented on #584
I'll add him tomorrow, thanks for discovering this.

[2021-12-21 01:09] EpicTaru commented on #583
I'll verify this as well as the rest of the battlefields on that webpage tomorrow.

[2021-12-21 04:16] protocolz2025 opened #585 "zonemisc value for Sentinel's Scherzo in spell_list.sql set incorrectly"
**Date & Time**:

**Client Version (use `/ver` in game):**

**Character Name:**

**Discord Name (if different from in game):**

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**

**Zone name:**
-Legion
-Any dungeons such as Dangruf

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (multiple clients on same connection):**

**S

[2021-12-21 18:03] EpicTaru commented on #584
Added: http://wiki.homepointxi.com/Nahn

Thanks again for notifying of this.

[2021-12-21 18:03] #584 closed, assigned to EpicTaru

[2021-12-21 21:15] EpicTaru commented on #583
Verified the list of working/non-working BCNMs/KSNMs, as it appears on that wiki page should now be correct.

[2021-12-21 21:15] #583 closed, assigned to EpicTaru

[2021-12-21 23:12] EpicTaru commented on #585
I cannot verify the value that this spell has for zonemisc on HomepointXI but on my personal darkstar server, the spell had a value of 8 for zonemisc.

The value of 8 limits it to any zone that you would normally be able to use chocobo/raptor mazurka in which would explain why this spell can't be used in zones classified in zone_settings.sql as not including 8 in its total for misc (like dungeons)

[2021-12-21 23:18] #399 closed

[2021-12-23 14:48] PunchdrunkXI commented on #582
Closing the ticket, I finally remember the login name for the character /highfive.

[2021-12-23 14:48] #582 closed, assigned to Heepster03, Jessland86

[2022-01-08 00:26] Jessland86 commented on #573
Hotfixed

[2022-01-08 00:26] #573 closed, assigned to EpicTaru, Jessland86

[2022-01-08 21:05] EpicTaru commented on #578
Resolved.  Please open a new ticket if you notice this issue occurring with any other mobs/any other pages.

[2022-01-08 21:05] #578 closed, assigned to Heepster03, EpicTaru

[2022-01-11 02:18] protocolz2025 opened #586 "Cannot buy Magicked astrolabe"
**Date & Time**:
2021/01/11

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
frakctured

**Discord Name (if different from in game):**

**Nation:**
sandy

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**
Churano-Shurano

**Zone name:**
windy waters

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (multiple clien

[2022-01-11 02:23] EpicTaru commented on #586
@Fragile2021 please complete all fields of the ticket.

[2022-01-11 12:38] protocolz2025 opened #587 "Cannot start Celaeno"
**Date & Time**:
2022/01/11

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
Fragile

**Discord Name (if different from in game):**

**Nation:**
sandy

**Job(level)/Sub Job(level):**
WHM/RDM

**NPC or Monster or item Name:**
Celaeno

**Zone name:**
Dangruf Wadi (J-12) (J-8)

**Coordinates (use `!where`):**
x:-155 y:3 z:-164 (96)

**Item tool link (for items issues only):**

[2022-01-13 01:00] protocolz2025 commented on #586
worked around

[2022-01-13 21:17] EpicTaru commented on #586
Confirmed issue exists, NPC doesn't seem to update the Astrolabe variable if player chooses option 1 (yes) for CS 1080 and same goes for if player chooses option 1 (yes) for CS 1081 (player doesn't get the Magicked Astrolabe KI (KI ID 2578) and 10K gil also isn't deducted either

[2022-01-13 21:20] EpicTaru commented on #587
@Fragile2021 it says that the abyssite IS or ISN'T responding?

[2022-01-14 22:23] djsnowfang opened #588 "Bastok Mission 9-2 CS crashing."
**Date & Time**:
1/14/22

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
djsnowfang

**Discord Name (if different from in game):**

**Nation:**
Bastok

**Job(level)/Sub Job(level):**
drg99/sam49

**NPC or Monster or item Name:**
Iron eater

**Zone name:**
metalwork's

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (multiple c

[2022-01-14 22:24] EpicTaru commented on #588
@djsnowfang What addons/plugins are loaded?  Tried the CS without any addons/plugins loaded?

[2022-01-14 22:50] djsnowfang commented on #588
windowerinput, addons, screenshot, distance, FPS, timestamp, tparty. Unloaded addons still crashed.

[2022-01-14 22:51] EpicTaru commented on #588
Are you running at an FPS other than default (30FPS)?

[2022-01-14 22:52] djsnowfang commented on #588
no, FPS is 30

[2022-01-14 22:53] EpicTaru commented on #588
Let me know when you are next in-game.

[2022-01-14 23:11] EpicTaru commented on #588
Unsure why the Rank 9-2 completion CS is giving issues, CS played correctly for me less than an hour before player reported this issue.

Checked player's MissionStatus variable to verify completion of Rank 9-2 mission then performed the following:

Set value of MissionStatus variable to 0.
Gave player Bastokan Flag (Item ID 182).
Completed Bastok Mission 9-2.
Traded 200,000 gil to player (as I am

[2022-01-15 00:03] protocolz2025 commented on #587
it says "the abyssite IS responding"

[2022-01-15 00:06] EpicTaru commented on #587
And you are at the rift at H-4?

[2022-01-15 00:12] protocolz2025 commented on #587
I tried J-12 and J-8.

[2022-01-15 00:14] EpicTaru commented on #587
Go to the rift at H-4, the VWNM will only spawn at the one specified on the voidwatch page.

http://wiki.homepointxi.com/Category:Voidwatch#Battle_Procedure

[2022-01-15 00:21] protocolz2025 commented on #587
Can you change the location to J-12? It's too far away.

[2022-01-15 00:21] #587 closed, assigned to nobody

[2022-01-18 03:10] protocolz2025 opened #589 "PLD cannot use "Scroll of Banishga""
**Date & Time**:
20220118

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**

**Discord Name (if different from in game):**

**Nation:**

**Job(level)/Sub Job(level):**
PLD99

**NPC or Monster or item Name:**

**Zone name:**

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (multiple clients on same connection):**

**Steps to repr

[2022-01-19 21:55] EpicTaru opened #590 "Odious Quipu not dropping in Dynamis - Windurst"
**Date & Time**:
01/18/2022 @ 1000

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**

**Discord Name (if different from in game):**

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**
Odious Quipu (Item ID 3391), Vanguard Skirmisher/Sentinel/Ogresoother/Persecutor (the lvl 90-92 versions)

**Zone name:**
Dynamis - Windurst

**Coordinates (use `!wh

[2022-01-20 17:34] EpicTaru opened #591 "Perpetual black screen after defeating mobs in ToAU 31 (Shades of Vengeance) WORKAROUND in Notes"
**Date & Time**:
01/20/2022 @ 1045

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**

**Discord Name (if different from in game):**

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**

**Zone name:**
Periqia (Zone ID 56)

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (multiple clients on same connect

[2022-01-20 21:57] EpicTaru opened #592 "Unable to enter battlefield for ToAU mission 42 (Path of Darkness)"
**Date & Time**:
01/20/2022 @ 1500

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**

**Discord Name (if different from in game):**

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**

**Zone name:**
Alzadaal Undersea Ruins / Nyzul Isle

**Coordinates (use `!where`):**
Runic Seal in the Nyzul Isle Staging Point area of Alzadaal Undersea Ruins

**I

[2022-01-28 15:41] protocolz2025 commented on #581
Nomad Moogle doesn't support Mog Safe. The one in Norg handles it properly.

[2022-02-01 15:39] EpicTaru commented on #589
@Heepster03 @Jessland86 Please reference https://github.com/DarkstarProject/darkstar/pull/6341/commits/74255a58e7766ba5f7d1f59ff020b6284f38fdb5

for the adjustment necessary to enable PLD to use the Scroll of Banishga (**Item ID 4646**, **Spell ID 38**).

I confirmed on my personal DSP server that PLD is able to learn/use this spell once the above adjustment is made.

[2022-02-02 09:47] protocolz2025 opened #593 "Newton Movalpolos pitfalls"
**Date & Time**:
20220202

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
Fragile

**Discord Name (if different from in game):**

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**

**Zone name:**
Newton Movalpolos

**Coordinates (use `!where`):**
anywhere

**Item tool link (for items issues only):**

**Multi-boxing? (multiple clients on same co

[2022-02-02 14:12] EpicTaru commented on #593
@Fragile2021 please give me coordinates where at least one of these occurred at.

[2022-02-04 00:47] protocolz2025 commented on #593
I don't know the coordinates. Warp to # 1 with minimum three alts and run to the west.
To be more specific, run to Sword Sorcerer Solisoq (H-11).

[2022-02-04 13:27] protocolz2025 commented on #593
x:141 y:16 z:-34 (59)
This happened with a single alt.  Very frustrating

[2022-02-04 15:46] EpicTaru commented on #593
Thanks for the info, I'll run around with all 4 of my alts in tow and see if I can recreate the issue.

[2022-02-04 16:09] EpicTaru commented on #593
Also, @Fragile2021, do you use the in-game /follow command or Cureplease's follow feature or Multisend's follow feature?

[2022-02-04 17:14] EpicTaru commented on #593
After multiple attempts to recreate the issue, using Multisend's follow feature, including serpentine-ing side to side from the HP to the ledge where you indicated you encountered the issue (and running around like a maniac specifically on the ledge you indicated), I am unable to recreate.  I also attempted to cause my GM to fall thru the map at movement speed 200 (the server base movement speed i

[2022-02-16 13:11] protocolz2025 opened #594 "Cannot craft Square Of Smooth Velvet Cloth"
**Date & Time**:
20220216

**Client Version (use `/ver` in game):**

**Character Name:**
regzof

**Discord Name (if different from in game):**

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**

**Zone name:**

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (multiple clients on same connection):**

**Steps to reproduce:**
h

[2022-02-16 13:14] #594 closed, assigned to nobody

[2022-02-17 14:19] protocolz2025 commented on #585
Any updates?   Colkhab killed me in one shot lol.

[2022-02-17 20:22] EpicTaru opened #595 "Fix to make north door out of Nyzul Staging Point not so picky!"
**Date & Time**:
02/17/2022 @ 1400 CST

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**

**Discord Name (if different from in game):**

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**
\scripts\zones\Alzadaal_Undersea_Ruins\npcs\_20c.lua
also known as
NPC ID 17072216

**Zone name:**
Alzadaal Undersea Ruins

**Coordinates (use `!where`):**
x:180

[2022-02-23 23:21] protocolz2025 opened #596 "Missing mod: Wretched Coat"
**Date & Time**:
20220224

**Client Version (use `/ver` in game):**

**Character Name:**

**Discord Name (if different from in game):**

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**

**Zone name:**

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**
http://homepointxi.com/db/items/26879/wretched_coat

"Magic Burst+5" is missing

**Multi-bo

[2022-02-23 23:37] EpicTaru commented on #596
@Fragile2021 Already accounted for in my project.  Thanks though for the notification. :)

[2022-03-12 17:33] thenoobers opened #597 "CoP 6-4 One to be Feared brokeeeeddddd ; ;"
**Date & Time**:

3/12/2022

**Client Version (use `/ver` in game):**

30191204_1

**Character Name:**

Suufire

**Discord Name (if different from in game):**

Noobers

**Nation:**

Bastok

**Job(level)/Sub Job(level):**

blu/rdm

**NPC or Monster or item Name:**

Ultima

**Zone name:**

Sea Lion's Den

**Coordinates (use `!where`):**

X:612  Y:132  Z:774  (50)

**Item tool link (for items issues

[2022-03-12 17:35] EpicTaru commented on #597
@thenoobers I'm having lunch right now, I'll let you know when done and we will look further into this issue.

[2022-03-12 17:54] thenoobers opened #598 "Hexa Strikes > Expiacion causing multiple procs of SC Fusion<-- (i think)"
**Date & Time**:

anytime -.-

**Client Version (use `/ver` in game):**

30191204_1

**Character Name:**

noobers(blu) , tarunoobers(whm) , yesenia(blu) , legendary(blu) , bassslapper(blu)

**Discord Name (if different from in game):**

noobers

**Nation:**

bastok baby

**Job(level)/Sub Job(level):**

blu(99)/rdm(49)

**NPC or Monster or item Name:**

any

**Zone name:**

any

**Coordinates (use

[2022-03-12 18:00] thenoobers opened #599 "Expiacion WS also procing Tizona mana drain"
**Date & Time**:

any

**Client Version (use `/ver` in game):**

30191204_1

**Character Name:**

noobers

**Discord Name (if different from in game):**

noobers

**Nation:**

bastok

**Job(level)/Sub Job(level):**

blu(99)rdm(49)

**NPC or Monster or item Name:**

any

**Zone name:**

any

**Coordinates (use `!where`):**

any

**Item tool link (for items issues only):**

http://homepointxi.com/db

[2022-03-12 18:07] EpicTaru commented on #599
You are correct that it shouldn't be proccing on WS hits, it should only be proccing on normal hits, according to BG-wiki:

![image](https://user-images.githubusercontent.com/26195580/158029421-0598775a-841e-4da4-a89e-c31ec85c05e5.png)

Thank you for reporting the issue.  I can't tell you to not use Expiacion as it is a critical tool for usage of the Tizona weapon, but try not to overtly abuse thi

[2022-03-12 18:10] EpicTaru commented on #598
QFT, lol.  Thank you for reporting this issue, @thenoobers.

[2022-03-12 18:37] EpicTaru commented on #597
@thenoobers I able to assist now, I'll find you in game,

[2022-03-12 19:06] EpicTaru commented on #597
Mobs for all 3 stages of this mission spawn correctly, as does the CSes between all of the stages but for some reason, the transport of the players from the starting ship (where the CSes are done on) and the battle ship (where the mobs are spawned at) never occurs after the end of the CS between Omega and Ultima.

Used **!mobhere 16908295** to pull Ultima from the battle ship to the entry ship so

[2022-03-12 21:26] Suikodenxi opened #600 "Sam Skillchain Anomoly"
**Date & Time**: 3/12/2022 1:24PM

**Client Version (use `/ver` in game):** version 30191204_1

**Character Name:** Redheadman

**Discord Name (if different from in game):** Suikoden

**Nation:** Bastok

**Job(level)/Sub Job(level):** 71(99)SAM/35(99)DRG Levelsynced to Alt Redscat 71BLM/35WHM

**NPC or Monster or item Name:**

**Zone name:** The Boyahda Tree

**Coordinates (use `!where`):**X:139 Y

[2022-03-12 22:21] EpicTaru commented on #177
This issue is re-occurring, not sure why at this point in time.

[2022-03-17 04:47] jia900212 opened #601 "Retrieve account number"
**Date & Time**:
The last time I played was 2018

**Client Version (use `/ver` in game):**

I don't remember.

**Character Name:**
I have three numbers：pc ，chunge ，
I don't remember another one

**Discord Name (if different from in game):**
There's no such thing

**Nation:**
san d’Oria

**Job(level)/Sub Job(level):**
All three professions have SMN 99

**NPC or Monster or item Name:**
I don't remem

[2022-03-17 04:49] EpicTaru commented on #601
@jia900212 you need to create a Discord account in order for one of the admins to be able to reach out to you and discuss the account recovery. Once you have created a Discord account, please update this ticket with those details.

[2022-03-17 12:59] jia900212 commented on #601
It's not that I don't want to create Discord. It's the IP that restricts me.

[2022-03-19 15:10] thenoobers opened #602 "BCNM Under Observation droptables are wrong"
**Date & Time**:

3/19/22 7:50 PST

**Client Version (use `/ver` in game):**

30191204_1

**Character Name:**

Noobers

**Discord Name (if different from in game):**

**Nation:**

Bastok

**Job(level)/Sub Job(level):**

blm40/rdm20

**NPC or Monster or item Name:**

Sobbing Eyes, Compound Eyes, Under Observation BCNM

**Zone name:**

Horlais Peak

**Coordinates (use `!where`):**

X:453  |  Y:-38

[2022-03-19 15:13] thenoobers commented on #598
have also noticed that Aeolian Edge > Expiacion is doing multiple as well of another SC.  Detonation / Incision maybe?  also Rudra's Storm > Expiacion acts like hexa, forming multiple Infusion SC.  still investigating if other Ws combos both including and excluding Expiacion are doing this.

[2022-03-20 17:22] thenoobers opened #603 "Briareus ??? spawns wrong mob model that also has no drop pool."
**Date & Time**:

3/20/22

**Client Version (use `/ver` in game):**

30191204_1

**Character Name:**

noobers

**Discord Name (if different from in game):**

**Nation:**

bastok

**Job(level)/Sub Job(level):**

blu99/rdm49

**NPC or Monster or item Name:**

Briareus

**Zone name:**

Abyssea - La Theine

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

http://homepointx

[2022-03-20 18:53] EpicTaru commented on #603
In the LD source, that MobID is linked to QM16, NPC ID 17318488. The mob that spawns is one of the non-NM gnole-type mobs also in the zone, and it looks like the drops for that mob that spawns also is linked to the Pool ID for the non-NM gnoles.  Appears that a shift in the IDs occurred that wasn't taken into account.  Heep/Immo will have to look into this further in the HP source.

I verified tha

[2022-03-21 05:10] Mad0ushi opened #604 "Forgot Username/Password"
**Date & Time**:
3/20/2022

**Client Version (use `/ver` in game):**
currently updating

**Character Name:**
Madoushi

**Discord Name (if different from in game):**
Madoushi#2534

**Nation:**
Bastok (I think)

**Job(level)/Sub Job(level):**
A few 75s

**NPC or Monster or item Name:**

**Zone name:**

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (mul

[2022-03-29 04:34] MVM1787 opened #605 "Boulder Eater's in Gustav showing Too Weak and not Yielding EXP."
**Date & Time**:
Monday March 28 2022  9:22 PM PST

**Client Version (use `/ver` in game)**: 30191204_1

**Character Name** : Ligerzero Pseyia, Dshiryu, Hyoga, Ikki, Shun

**Discord Name (if different from in game)**:Ligerzero

**Nation**: Sandy

**Job(level)/Sub Job(level)**: PUP 99/ DNC 49, the others are PUP 94 / MNK 47 Seyia is PUP 93 / MNK 46

**NPC or Monster or item Name**: Boulder Eaters

[2022-03-29 04:48] EpicTaru commented on #605
Duplicate of

https://github.com/HomepointXI/Issues/issues/562
https://github.com/HomepointXI/Issues/issues/579

[2022-03-29 04:48] #605 closed, assigned to nobody

[2022-04-16 16:16] djsnowfang opened #606 "Bastok mines door I-7 DC loop."
**Date & Time**:
April 16th, 2022

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
Djsnowfang

**Discord Name (if different from in game):**

**Nation:**
WIndurst

**Job(level)/Sub Job(level):**
PUP99/WAR49

**NPC or Monster or item Name:**
Bastok mines door I-7

**Zone name:**
Bastok

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-bo

[2022-04-16 16:34] EpicTaru commented on #606
@djsnowfang does this issue still occur when you have no addons/plugins loaded?

[2022-04-16 18:55] djsnowfang commented on #606
I have fixed the issue by doing a full reinstall of FFXI and than a reboot of the PC.

[2022-04-16 18:55] #606 closed, assigned to EpicTaru

[2022-04-16 20:22] EpicTaru commented on #588
Requested that player attempt to complete this mission again since they reinstalled FFXI earlier to resolve a different issue they had.

I had to re-add Bastok Mission 9-2 to their current missions list.
I had to set the value of the MissionStatus variable to 2.

I then asked the player to interact with NPC Iron Eater again and see what happens.

[2022-04-16 20:28] djsnowfang commented on #588
A full reinstall of FFXI has fixed the issue with the CS cuting out. I have got rank 10 now.

[2022-04-16 20:28] #588 closed, assigned to EpicTaru

[2022-05-24 00:01] nxnslite opened #607 "Mutiple WS not working"
**Date & Time**:
05/23/2022

**Client Version (use `/ver` in game):**
30191204

**Character Name:**
NxN_Slite

**Discord Name (if different from in game):**

**Nation:**
Windy

**Job(level)/Sub Job(level):**
99thf/dnc

**NPC or Monster or item Name:**

**Zone name:**
any

**Coordinates (use `!where`):**
any

**Item tool link (for items issues only):**

**Multi-boxing? (multiple clients on same con

[2022-05-24 02:52] nxnslite commented on #607
while im on it :)    Exenterator (MM) > Circle Blade
for reverb
but dancing edge / circle blade for reverb is working.
BURNING BLADECIRCLE BLADE is not doing FUSION but liquefaction

[2022-05-24 11:00] nxnslite commented on #607
I took those with
https://flippantry.com/skillchain/
and from FFXI calculator 5.21
maybe its my source that is wrong.

[2022-05-24 14:12] EpicTaru commented on #607
Confirmed all of the above on my GM chara (punishing Ravenous Cracklaw multiple times) since he's a hardy boy and this all is a bit _fishy_...)

Thanks for the reporting, NxN. 👍🏼

[2022-06-04 19:03] nxnslite opened #608 "Shantoto Blood_and_Glory no accepting Trade"
**Date & Time**:
06/04/2022

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
nxncure

**Discord Name (if different from in game):**
nxn_slite

**Nation:**
windy

**Job(level)/Sub Job(level):**
WHM 99

**NPC or Monster or item Name:**
None

**Zone name:**
None

**Coordinates (use `!where`):**
None

**Item tool link (for items issues only):**
http://homepointxi.com/db/items/

[2022-06-04 21:58] EpicTaru commented on #608
@nxnslite does Shantotto say anything when you trade the Pole of Trials to her?

[2022-06-05 21:22] EpicTaru commented on #608
@nxnslite Please paste a screenshot here of your equipment screen that shows the latent effect of the Pole of Trials no longer reflecting in your stats

[2022-06-05 21:24] nxnslite commented on #608
![image](https://user-images.githubusercontent.com/30903928/172071192-ac057204-3057-4dfc-8dcb-47af0cdff058.png)

[2022-06-05 21:24] nxnslite commented on #608
nop

[2022-06-05 23:54] nxnslite commented on #608
quest completted 100% and how its all she tells me.
![image](https://user-images.githubusercontent.com/30903928/172075813-6bfee6ef-45fe-4852-88f1-f8781b5387ee.png)

[2022-06-06 01:07] EpicTaru commented on #608
~~@nxnslite Make sure to zone after completing the Curses, Foiled Again!? quest, then you should be prompted with the dialogue to start Curses, Foiled A-Golem.  Please complete that one too and then report here with what dialogue Shanny says.~~

[2022-06-06 15:10] EpicTaru commented on #608
@nxnslite cancel last comment, I'll fix your chara so you can go fight the WS NM in a few minutes.  I'll respond here once I'm done.

[2022-06-06 15:25] EpicTaru commented on #608
@nxnslite, the Pole of Trials has been deleted (**!delitem 17527**) from the chara and the KI **MAP_TO_THE_ANNALS_OF_TRUTH** has been added (**!addkeyitem MAP_TO_THE_ANNALS_OF_TRUTH**) to the chara.  Please now attempt to battle the WS NM.  If you encounter issues with spawning the WS NM, please respond here.  Otherwise, please also respond here if you were able to successfully spawn/defeat the WS

[2022-06-07 22:49] nxnslite commented on #608
A portion of the lava here shines brighter than in the other areas. :(

[2022-06-07 22:53] nxnslite commented on #608
ps I dont know why but the quest is not in my quest log... that might be the problem now...
and how the hell (cause i dont remember) I got the staff....  Surly I did trigger it.. long long time ago... in a Vanadiel far far away.

[2022-06-07 23:01] EpicTaru commented on #608
Is this the message you get when you get when you examine the ???

[2022-06-07 23:13] nxnslite commented on #608
yes

[2022-06-07 23:17] EpicTaru commented on #608
And you are at the ??? at the middle of the lava bridge?

[2022-06-07 23:21] nxnslite commented on #608
no the other 1... but the ??? at the bridge give nothing also... (bridge spawn another nm)

[2022-06-07 23:24] EpicTaru commented on #608
Ok, I'm having dinner, I'll look into the issue when I'm done.

[2022-06-08 00:46] nxnslite commented on #608
TY epic u saved a small familly member today.
its all fixed... As a sacrafice Ill do a retribution of that power to some monsters.

[2022-06-08 00:52] EpicTaru commented on #608
LOL, awesome, don't go crazy!

Glad the issue is resolved for you.  I'll research into the code surrounding the Staff WSNM quest later to see what may have happened to cause your issue to occur.  Closing ticket.

[2022-06-08 00:52] #608 closed, assigned to EpicTaru

[2022-07-03 03:14] StephenSpanner opened #609 "Items trading between 2 characters vanished"
**Date & Time**: July 2nd, 2022 - approx 3:40pm PST

**Client Version (use `/ver` in game):** 30191204_1

**Character Name:** Karalee & Uubu

**Discord Name (if different from in game):** Thiefx

**Nation:** Bastok

**Job(level)/Sub Job(level):** Karalee - 99PLD/49BLU ... Uubu - 99PLD/49WAR

**NPC or Monster or item Name:** Peacock Charm, Flume belt and a few other items of lesser importance

**Zo

[2022-07-04 17:12] EpicTaru commented on #609
Verified that none of the listed characters currently has the Flume Belt (itemID 10819).

The only one of the listed characters that currently has a Peacock Charm (itemID 13056) is Larry but that item may have already existed on the chara prior to this issue occurring.  Handing this off to you, @Heepster03 and @Jessland86, to check the logs regarding this issue.

[2022-08-09 16:16] Oderson commented on #492
![image](https://user-images.githubusercontent.com/22406564/183704120-88f13053-d551-4577-ad38-bd1ba580118c.png)

[2022-08-09 16:19] Oderson commented on #492
![image](https://user-images.githubusercontent.com/22406564/183704845-a620a7cf-58cf-462d-9da3-bf398fdbe2ee.png)

[2022-08-09 16:37] EpicTaru commented on #492
@Oderson dyna nms are popped via retail methods. Consult the hp wiki dyna pages for more information.

[2022-08-13 17:33] EpicTaru opened #610 "The Boyahda Tree droplists not accurate"
**Date & Time**:
08/13/2022 @ 1045 CST

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
N/A

**Discord Name (if different from in game):**
N/A

**Nation:**
N/A

**Job(level)/Sub Job(level):**
N/A

**NPC or Monster or item Name:**
- Old Goobbue (Mob Group currently 0)
- Korrigan (Mob Group currently 343) (this is same mob group as multiple other mobs, difference is Korrigan

[2022-08-22 03:30] StephenSpanner commented on #494
Character: Uubu

[2022-08-22 03:31] EpicTaru commented on #494
I'll look for you tomorrow and resolve this with you then, @thiefx

[2022-08-22 19:28] EpicTaru commented on #494
Verified that above character(s) do not already have the Raptor Companion KI (KeyItem ID 3073 or the Trainer's Whistle KI (KeyItem ID 3055). Also verified that the character(s) do possess the Chocobo License KI (KeyItem ID 138).

Seeing as the quest here on HomepointXI is extremely simplified and in the interest of not delaying players of the ability to summon mounts (given the extreme simplicity

[2022-08-25 00:35] nxnslite opened #611 "Stuck on CS 2-3 Windy Sandy-Bastock"
**Date & Time**:  08/24/2022

**Client Version (use `/ver` in game):** 30191204_1

**Character Name:** nxnreda nxnredb nxnredc nxnredd

**Discord Name (if different from in game):** nxnslite

**Nation:** windy

**Job(level)/Sub Job(level):** 99 reds / blms

**NPC or Monster or item Name:** BC 2-3 bastok - Sandy

**Zone name:**
Horlais Peak

**Coordinates (use `!where`):**

**Item tool link (for it

[2022-08-25 15:04] nxnslite commented on #611
After new reinstall on another vm it works.. ill find whats wrong with main install

[2022-08-25 15:04] #611 closed, assigned to Heepster03, EpicTaru, Jessland86

[2022-08-25 15:18] EpicTaru opened #612 "Taisai PHs not morphing into Taisaijin JM"
**Date & Time**:
08/15/22 @ 1426 CST thru 08/25/22 @ 0949 CST

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
EpicTaru

**Discord Name (if different from in game):**

**Nation:**
N/A

**Job(level)/Sub Job(level):**
N/A

**NPC or Monster or item Name:**
* Tasaijin NM (MobID 17457216)
* Taisai PHs (MobIDs 17457213, 17457214, 17457215)

**Zone name:**
Ranguemont Pass

**Coor

[2022-08-25 21:09] Jessland86 commented on #612
Tasaijin is custom here, just kill the placeholders one will eventually pop as Tasaijin like normal lottery NMs.

[2022-08-25 21:09] #612 closed, assigned to nobody

[2022-08-26 18:57] StephenSpanner commented on #471
Affected characters:

Karalee
Lexigreen
Larry
Dilbert
Summer

[2022-08-26 19:01] EpicTaru commented on #471
Verified that above player(s) had completed the Jeuno quest **Crest of Davoi** (**!checkquest 3 0**) and then gave the KI **Crest of Davoi** (**!addkeyitem 21**) to the player(s) so they are able to pass thru the Wall of Dark Arts if they wish to in the future.

Leaving this issue open for any other player that may also experience it.

[2022-09-23 14:04] Heepster03 commented on #562
Issue has been found and resolved. Will be pulled in next update!

[2022-09-23 16:35] Heepster03 commented on #121
Was resolved way back.

[2022-09-23 16:35] #121 closed

[2022-09-23 17:13] Heepster03 commented on #177
Dragontamers in Dyna-BG was linked to Dyna-Valk. Issue has been resolved.
Om'Yovra was linked to the Dragontamers in Dyna-BG as well. Issue has been resolved.
Will be in next update!

[2022-09-23 17:20] Heepster03 commented on #574
Custom sql was labeled for Earring. Issue has been resolved.
Will be in next update!

[2022-09-23 17:26] Heepster03 commented on #579
Issue has been resolved and will be in next update!

[2022-09-23 17:29] Heepster03 commented on #610
Issue has been resolved and will be in next update!

[2022-09-23 17:33] Heepster03 commented on #600
![image](https://user-images.githubusercontent.com/8421725/192024716-8c877773-5069-4ac7-8657-0dfc0d92674c.png)

Issue resolved... will be in next update!

[2022-10-01 13:37] Gwaelin opened #613 "Forgotten Username/Password"
**Date & Time**:
9:34 AM 10/1/22

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
Gwaelin

**Discord Name (if different from in game):**
Gwaelin

**Nation:**

**Job(level)/Sub Job(level):**

**NPC or Monster or item Name:**

**Zone name:**

**Coordinates (use `!where`):**

**Item tool link (for items issues only):**

**Multi-boxing? (multiple clients on same connection):**

[2022-11-01 18:06] EpicTaru opened #614 "Aptant NMs with no drops (Konjac, Muq Shabeel, Sabotender Corrido)"
**Date & Time**:
11/01/2022 @ 1130

**Client Version (use `/ver` in game):**
30191204_1

**Character Name:**
N/A

**Discord Name (if different from in game):**
N/A

**Nation:**
N/A

**Job(level)/Sub Job(level):**
N/A

**NPC or Monster or item Name:**
Konjac (Monster ID **17469632**)
Muq Shabeel (Monster ID **17174561**)
Sabotender Corrido (Monster ID **17244350**)

**Zone name:**
Konjac - Toraimar